@model IEnumerable<XoneHR.Models.CandidateDocTypeDetail>
@{
    ViewBag.Title = "List";
    string status = "";
    var i = 0;
    var Functionlist = XoneHR.Models.SessionManage.Current.PermitFunctions;
}
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables/dataTables.bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#example2").DataTable();
    });
</script>

<table id="example2" class="table table-bordered table-hover masterlist">

    <thead>
        <tr>
            <th>Sl No.</th>
            <th>Citizen</th>
            <th>Designation</th>
            <th>Document SubType</th>
            <th data-sortable="false">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            i = i + 1;
            <tr>
                <td>@i</td>
                <td>@item.Citizen</td>
                <td>@item.DesigName</td>               
                <td>@item.DocStypName</td>
                <td> 
                    @if (Functionlist.Where(m => m.FunTypeID == XoneHR.Models.FunctionTypes.Delete).Select(m => m.UserPermiStatus).SingleOrDefault())
                    {
                        <a href="" class="btn btn-danger btndelete" data-toggle="modal" data-id="@item.ValidDocTypID" data-name="@item.DocStypName"><i class="fa fa-fw fa-trash-o"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>
