@model XoneHR.Models.SalaryAdvanceslip
@{
    ViewBag.Title = "ListSlip";
    Layout = null;
   
}
<script src="~/plugins/jQuery/print.js"></script>
<script type="text/javascript">

    $(document).ready(function (data) {

        $("#Btnnewprint").click(function () {

            $("#SalarySlipPrintDiv").print({
                globalStyles: true,
                mediaPrint: true,
                stylesheet: null,
                noPrintSelector: ".no-print",
                iframe: true,
                append: null,
                prepend: null,
                manuallyCopyFormValues: true,
                deferred: $.Deferred(),
                timeout: 250,
                title: null,
                doctype: '<!doctype html>'

            });

        });

    });

</script>

@if (Model != null)
{

   

    <div id="SalarySlipPrintDiv">
        <div class="col-sm-12">
            <img src="~/dist/img/gragnet.jpg" alt="" class="pull-left" />
            <h4 class="pull-left">DRAGNET PRIVATE INVESTIGATION AND SECURITY CONSULTANTS PTE LTE</h4><br/>
            <h3 style="margin-left:30%;margin-bottom:7%;">
                SALARY SLIP FOR @ViewBag.MonthName @ViewBag.Year
            </h3>
        </div>
        <div class="col-sm-7 pull-left">
            <p><span>Name:</span> @Model.SalaryslipContent.EmpName</p>
            @if (Model.SalaryslipContent.FinNo == null || Model.SalaryslipContent.FinNo == "0")
            {
                <p><span>NRICS No:</span> @Model.SalaryslipContent.NRICno</p>
            }
            else
            {
                <p><span>Fin No:</span> @Model.SalaryslipContent.FinNo</p>
            }

        </div>

        <div class="col-sm-5 pull-right">
            <p><span>Date:</span> @DateTime.Now.ToString("dd/MM/yyyy")</p>
            <p><span>Mode of Payment:</span> @Model.SalaryslipContent.PaymentMode</p>
            <p><span>Bank:</span>&nbsp; @Model.SalaryslipContent.CandBnkName</p>
            <p><span>Account Name:</span>&nbsp; @Model.SalaryslipContent.CandBnkAcno</p>
        </div>
        <div class="salaryslipData">
            <div class="col-sm-6 pull-left">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody align="left">
                        <tr>
                            <td>Basic Pay:</td>
                            <td>@Model.SalaryslipContent.BasicPay</td>
                        </tr>
                        @if (Model.SalaryslipContent.OT_payment != 0.00)
                        {
                            <tr>
                                <td>Overtime:</td>
                                <td>@Model.SalaryslipContent.OT_payment</td>
                            </tr>
                        }

                        @if (ViewBag.AllowanceDetails != null)
                        {
                            <tr>
                                <td>Allowance:</td>
                                <td>
                                    @foreach (var item in ViewBag.AllowanceDetails)
                                    {
                                        <table>
                                            <tr>
                                                <td>@item.FixallEmpTypes</td>
                                                <td>@item.FixallEmpAmounts</td>
                                            </tr>
                                        </table>
                                    }
                                </td>
                            </tr>
                        }

                        @if (Model.SalaryslipContent.PH_payment != 0)
                        {
                            <tr>
                                <td>Public Holiday:</td>
                                <td>@Model.SalaryslipContent.PH_payment</td>
                            </tr>
                        }

                        @if (Model.SalaryslipContent.UnPaidLeavePay != 0)
                        {
                            <tr>
                                <td>Unpaid Leave:</td>
                                <td>-@Model.SalaryslipContent.UnPaidLeavePay</td>
                            </tr>
                        }
                        @if (Model.SalaryslipContent.HalfCutting != 0)
                        {
                            <tr>
                                <td>OFF Time Deduction:</td>
                                <td>-@Model.SalaryslipContent.HalfCutting</td>
                            </tr>
                        }
                        <tr>
                            <td><b>Gross Pay:</b></td>
                            <td><b>@Model.SalaryslipContent.GrossPay</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6 pull-right">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody align="left">
                        <tr>
                            <td>Overtime Hours:</td>
                            <td>@Model.SalaryslipContent.OT_hours</td>
                        </tr>
                        <tr>
                            <td>Rate Per Hour:</td>
                            <td>@Model.SalaryslipContent.RatePerHour</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="salaryslipData">
            <div class="col-sm-6 pull-left">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th colspan="2">Deduction</th>
                        </tr>
                    </thead>
                    <tbody align="left">
                        @if (Model.SalaryslipContent.CPF_employee != 0.00)
                        {
                            <tr>
                                <td>CPF-Employee:</td>
                                <td>@Model.SalaryslipContent.CPF_employee</td>
                            </tr>
                        }
                        @if (Model.SalaryslipContent.MBMF != 0.00)
                        {
                            <tr>
                                <td>MBMF:</td>
                                <td>@Model.SalaryslipContent.MBMF</td>
                            </tr>
                        }
                        @if (Model.SalaryslipContent.SINDA != 0.00)
                        {
                            <tr>
                                <td>SINDA:</td>
                                <td>@Model.SalaryslipContent.SINDA</td>
                            </tr>
                        }
                        @if (Model.SalaryslipContent.CDAC != 0.00)
                        {
                            <tr>
                                <td>CDAC:</td>
                                <td>@Model.SalaryslipContent.CDAC</td>
                            </tr>
                        }

                        @if (Model.SalaryslipContent.ECF != 0.00)
                        {
                            <tr>
                                <td>ECF:</td>
                                <td>@Model.SalaryslipContent.ECF</td>
                            </tr>
                        }


                        @if (Model.SalarypayList != null)
                        {
                            <tr>
                                <td>Advance:</td>
                                <td>
                                    @foreach (var item in Model.SalarypayList)
                                    {

                                        <table>
                                            <tr>
                                                <td>@item.PayDate</td>
                                                <td>@item.PayAmount</td>
                                            </tr>
                                        </table>

                                    }
                                </td>
                            </tr>
                        }

                        <tr>
                            <td>
                                Total Deduction:
                            </td>
                            <td><b>@Model.SalaryslipContent.TotalDeduct</b></td>
                        </tr>

                        <tr>
                            <td><b>Net Pay:</b></td>
                            <td><b>@Model.SalaryslipContent.NettPay</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6 pull-right">
                @if (Model.SalaryslipContent.CPF_employer != 0.00)
                {
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th colspan="2"></th>
                            </tr>
                        </thead>
                        <tbody align="left">
                            <tr>
                                <td>Employee's CPF:</td>
                                <td>@Model.SalaryslipContent.CPF_employee</td>
                            </tr>
                            <tr>
                                <td>Employer's CPF:</td>
                                <td>@Model.SalaryslipContent.CPF_employer</td>
                            </tr>
                            <tr>
                                <td>Total Contribution:</td>
                                <td><b>@Model.SalaryslipContent.TotalContribution</b></td>
                            </tr>
                        </tbody>
                    </table>
                }
                @if (Model.SalaryslipContent.Emp_levy != 0.00)   //Levy Amount
                {
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th colspan="2"></th>
                            </tr>
                        </thead>
                        <tbody align="left">
                            <tr>
                                <td>Foreign Worker Levy:</td>
                                <td>@Model.SalaryslipContent.Emp_levy</td>
                            </tr>
                        </tbody>
                    </table>
                }

            </div>
        </div>
       
    </div>
   
}


<div class="foot">
    @*<p>This is a computer generated slip. No signature required</p>
    <p>Payment According to Calender Month</p>*@
    <button type="button" class="btn btn-default" id="Btnnewprint" value="Print">Print</button>
</div>