@model IEnumerable<XoneHR.Models.TblDocumentSubTypes>
@{
    ViewBag.Title = "List";
    Layout = null;
    string status = "";
    var i = 0;
    var Functionlist = XoneHR.Models.SessionManage.Current.PermitFunctions;
}
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables/dataTables.bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#example2").DataTable();
    });
</script>

<table id="example2" class="table table-bordered table-hover masterlist">
    <thead>
        <tr>
            <th style="width:110px !important">Sl No.</th>
            <th width="30%">Name</th>
            <th width="30%">Document Type</th>
            <th data-sortable="false">Status</th>
            <th data-sortable="false">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            i += 1;
            <tr>
                <td>@i</td>
                <td>@item.DocStypName</td>
                <td>@item.DocTypName</td>
                @if (item.DocStypStatus.ToString() == "True")
                {
                    status = "Active";

                }
                else
                {
                    status = "InActive";

                }
                <td>@status</td>
                <td>
                    @*<a href="" class="btn btn btn-primary" data-toggle="modal" data-target="#myModal2"><i class="fa fa-fw fa-eye"></i></a>*@
                    @if (Functionlist.Where(m => m.FunTypeID == XoneHR.Models.FunctionTypes.Edit).Select(m => m.UserPermiStatus).SingleOrDefault())
                    {
                        <a href="#" class="btn btn-success btnedit" data-toggle="modal" @*data-target="#myModal1"*@ data-id="@item.DocStypID" data-typeid="@item.DocTypID" data-name="@item.DocStypName" data-status="@item.DocStypStatus"><i class="fa fa-fw fa-edit"></i></a>
                    }
                    @if (Functionlist.Where(m => m.FunTypeID == XoneHR.Models.FunctionTypes.Delete).Select(m => m.UserPermiStatus).SingleOrDefault())
                    {
                        <a href="#" class="btn btn-danger btndelete" data-toggle="modal" @*data-target="#myModal"*@ data-id="@item.DocStypID" data-name="@item.DocStypName"><i class="fa fa-fw fa-trash-o"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
