@model XoneHR.Models.RelifeEmpDetails

@{
    ViewBag.Title = "ProjectLeaveEmpDetails";
    Layout = null;
    var i = 0;
    var EmpStatusName = "";
    XoneHR.Models.CommonFunctions common = new XoneHR.Models.CommonFunctions();
}
 
<input type="hidden" value="@ViewBag.StartDate"  id="HidStartdate"/>
<input type="hidden" value="@ViewBag.EndDate" id="HidEnddate" />

<div class="box-body table-responsive no-padding">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Type (Leave/OFF) </th><!--Type-->
                <th>Status</th><!--Leave Status-->
                <th>Allocation</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach(var item in Model.PrjLeveobj)
            {
                i++;             
            <tr>
                <td>
                    @i
                </td>
                <td>@item.EmpLeaveDate.ToString("dd/MM/yyyy")
                    <input type="hidden" name="EmpLeaveDate" value="@item.EmpLeaveDate.ToString("dd/MM/yyyy")" /></td>
                <td>@item.LeaveType
                    <input type="hidden" name="LeaveType" value="@item.LeavetypID" />                
                </td>
                <td>
                    @if (item.EmpappStatus == 1)
                    {
                        EmpStatusName = "Approved";
                    }
                    else if (item.EmpappStatus == 2)
                    {
                        EmpStatusName = "Rejected";
                    }
                    else if (item.EmpappStatus == 0)
                    {
                        EmpStatusName = "Pending";
                    }
                    else
                    {
                        EmpStatusName = "Authorized";
                    }
                        @EmpStatusName

                </td>
                <td><select class="form-control RelifEmp" id="@i" name="RelifeEmpName">
                    @{var Absencelist = Model.Absencealloobj.Where(p => p.AbsDateFrom == item.EmpLeaveDate && p.AbsEmpID == item.EmpID).FirstOrDefault();}
                    <option value="0">--Select--</option>
                    @foreach (var Relif in Model.PrjEmpRelifeObj)
                    {
                        if (Absencelist == null)
                        {
                            <option value="@Relif.EmpID" data-typeid="@Relif.EmpTypID" data-leavedate="@item.EmpLeaveDate.ToString("dd/MM/yyyy")" data-typenam="@Relif.EmpTypName" data-mobile="@Relif.CandMobile">@Relif.CandName</option>
                        }
                        else
                        {
                            if (Relif.EmpID == Absencelist.AbsallEmpID)
                            {
                                <option value="@Relif.EmpID" data-typeid="@Relif.EmpTypID" selected="selected" data-leavedate="@item.EmpLeaveDate.ToString("dd/MM/yyyy")" data-typenam="@Relif.EmpTypName" data-mobile="@Relif.CandMobile">@Relif.CandName</option>
                            }
                            else
                            {
                                <option value="@Relif.EmpID" data-typeid="@Relif.EmpTypID" data-leavedate="@item.EmpLeaveDate.ToString("dd/MM/yyyy")" data-typenam="@Relif.EmpTypName" data-mobile="@Relif.CandMobile">@Relif.CandName</option>
                            }
                        }
                    }
                </select></td>
                 
            </tr>
            }
            @if (ViewBag.OFFDetails != null)
            {
                foreach (var item in ViewBag.OFFDetails)
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td>
                            @item.OFFDates.ToString("dd/MM/yyyy")
                            <input type="hidden" name="OFFDates" value="@item.OFFDates.ToString("dd/MM/yyyy")" />
                        </td>
                        <td>OFF Day</td>
                        <td></td>
                        <td>
                            <select class="form-control RelifEmp" id="@i" name="RelifeEmpName">
                                @{var Absencelist = Model.Absencealloobj.Where(p => p.AbsDateFrom == item.OFFDates && p.AbsEmpID == item.EmpID).FirstOrDefault();}
                                <option value="0">--Select--</option>
                                @foreach (var Relif in Model.PrjEmpRelifeObj)
                                {
                                    if (Absencelist == null)
                                    {
                                        <option value="@Relif.EmpID" data-typeid="@Relif.EmpTypID" data-leavedate="@item.OFFDates.ToString("dd/MM/yyyy")" data-typenam="@Relif.EmpTypName" data-mobile="@Relif.CandMobile">@Relif.CandName</option>
                                    }
                                    else
                                    {
                                        if (Relif.EmpID == Absencelist.AbsallEmpID)
                                        {
                                            <option value="@Relif.EmpID" data-typeid="@Relif.EmpTypID" selected="selected" data-leavedate="@item.OFFDates.ToString("dd/MM/yyyy")" data-typenam="@Relif.EmpTypName" data-mobile="@Relif.CandMobile">@Relif.CandName</option>
                                        }
                                        else
                                        {
                                            <option value="@Relif.EmpID" data-typeid="@Relif.EmpTypID" data-leavedate="@item.OFFDates.ToString("dd/MM/yyyy")" data-typenam="@Relif.EmpTypName" data-mobile="@Relif.CandMobile">@Relif.CandName</option>
                                        }
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                }
            }

            <tr>
                <td colspan="4">
                <td><button type="button" class="btn btn-success pull-right" id="BtnCloseRelief">Close &nbsp;<i class="fa fa-floppy-o"></i></button></td>
            </tr>
        </tbody>
    </table>
</div><!-- /.box-body -->
