@model IEnumerable<XoneHR.Models.ListProjectWiseEmp>
@{
    ViewBag.Title = "ScheduleDetails";
    Layout = null;
}




<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th width="10% !important">CandName</th>
            <th>Grade</th>
            <th>Shift</th>
            <th>Shift From</th>
            <th>Shift To</th>
            
        </tr>
    </thead>
    <tbody>

@if (Model != null)
{

        foreach (var item in Model)
        {
           
            <tr>

                <td>@item.CandName</td>
                <td>@item.Gradename</td>
                <td>@item.ShiftName</td>
                <td>@item.ShiftFrom</td>
                <td>@item.ShiftTo</td>
             

            </tr>
        }
}

    </tbody>
</table>





