@model XoneHR.Models.projectCalendar
@{
    ViewBag.Title = "ShiftSchedule";
    Layout = null;
}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    @foreach (var item in Model.ShiftObj)
    {


        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">

                <h4 class="panel-title">

                                    
                    <a href="#" class="ShiftClick" data-name="@item.ShiftID"><span class="glyphicon glyphicon-trash"></span></a> &nbsp;  &nbsp; &nbsp;
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@item.ShiftID" aria-expanded="false" aria-controls="collapseOne">
                        @item.ShiftName
                    </a>
                   

                </h4>
            </div>
            <div id="@item.ShiftID" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    @foreach (var schitem in Model.ScheduleObj.Where(m => m.ShiftID == item.ShiftID).ToList())
                    {
                        <p><a class="btn btn-block btn-primary btn-xs schedule" name="@schitem.SchID" href="#">@schitem.Schedule</a></p>
                        <br />

                    }

                </div>
            </div>
        </div>

    }


</div>

