@model XoneHR.Models.CandidateDetails
@{
    ViewBag.Title = "Candidateprofile";
    var Functionlist = XoneHR.Models.SessionManage.Current.PermitFunctions;
    var CandID = XoneHR.Models.SessionManage.Current.CandID;
}

<script src="~/plugins/Toast/src/jquery.toast.js"></script>
<link href="~/plugins/Toast/src/jquery.toast.css" rel="stylesheet" />

<script>
    function GetDocumentType() {

        var ddlBox = $("#ddlDocumentTypeID");

        $.ajax({
            url: "/Candidate/GetDocumentType",
            async: false
        }).done(function (data) {

            ddlBox.empty();
            ddlBox.append('<option value="0">Select</option>').selectpicker('refresh');

            $.each(data, function (i, item) {

                ddlBox.append('<option value=' + item.DocTypID + '>' + item.DocTypName + '</option>').selectpicker('refresh');;
            });

        });

    }

    function GetDocumentSubType(DocumentTypeID) {
        var ddlBox = $("#ddlDocumentSubtypeID");

        $.ajax({
            url: "/Candidate/GetDocumentSubType",
            data: { DocumenTypID: DocumentTypeID },
            async: false
        }).done(function (data) {

            ddlBox.empty();
            ddlBox.append('<option value="0">Select</option>').selectpicker('refresh');

            $.each(data, function (i, item) {

                ddlBox.append('<option value=' + item.DocStypID + '>' + item.DocStypName + '</option>').selectpicker('refresh');;
            });


        });

    }

    function LoadDocuments(DocstypeID) {
        $.ajax({

            type: "POST",
            url: "/Candidate/DocumentsLisTablewise",
            data: { DocstypeID: DocstypeID }

        }).done(function (data) {


            $("#Documentslistss").html(data);

        })
    }

    function LoadEmpHistory() {
        $.ajax({

            type: "POST",
            url: "/Candidate/EmployerHistoryListProf"

        }).done(function (data) {

            $("#EmpHistory").html(data);

        })
    }

    function GetInertviewQns() {       
        $.ajax({

            type: "GET",
            url: "/Candidate/GetInertviewQuestion",

        }).done(function (data) {
            $("#InertviewQuestion").html("");
            $("#InertviewQuestion").html(data);

        });
    }

    function GetInterViewDataList() {

        $.ajax({
            url: "/Candidate/QuestionAnswerListing"
        }).done(function (data) {
            $("#InertviewDetailsList").html(data);
        });
    }

    function DeclarationtabContentList() {

        $.ajax({
            url: "/Candidate/DeclarationContentProfile"
        }).done(function (data) {
            $("#DeclarationtabContent").html(data);
        });
    }

    function GetEmptype() {

        var ddlBox = $("#EmpTypID");
        $.ajax({
            url: "/Candidate/GetEmployeeType",

        }).done(function (data) {

            ddlBox.empty();
            ddlBox.append('<option value="0">--Select--</option>').selectpicker('refresh');

            $.each(data, function (i, item) {

                ddlBox.append('<option value=' + item.EmpTypID + '>' + item.EmpTypName + '</option>').selectpicker('refresh');;
            });
        });
    }

    function GetFundTypes() {

        var ddlBox = $("#FundType");

        $.ajax({
            url: "/Candidate/GetFundTypes",
            async: false
        }).done(function (data) {

            ddlBox.empty();
            ddlBox.append('<option value="0">--Select--</option>').selectpicker('refresh');
            $.each(data, function (i, item) {

                ddlBox.append('<option value=' + item.FundTypeID + '>' + item.FundType + '</option>').selectpicker('refresh');
            });

        });
    }

    function LoadAllowanceLeave_Details() {
        $.ajax({
            url: "/Candidate/GetDesigAllowances",
            data: { DesigID: $("#HidDesigID").val(), Empid: $("#EmployyeID").val(), CandID: $("#HidCandID").val() }
        }).done(function (data) {
            if ($("#ApproveStatus").val() == "True")
                $("#AllowanceTabEdit").html(data);
            else
                $("#AllowanceTab").html(data);           
        });

        $.ajax({
            url: "/Candidate/GetDesignationLeaves",
            data: { DesigID: $("#HidDesigID").val(), Empid: $("#EmployyeID").val(), CandID: $("#HidCandID").val() }
        }).done(function (data) {
            if ($("#ApproveStatus").val() == "True")
                $("#LeaveTabEdit").html(data);
            else
                $("#LeaveTab").html(data);
        });
    }


</script>

<script type="text/javascript">

    $(document).ready(function () {

        LoadDocuments(0);
        GetDocumentType();
        LoadEmpHistory();
        GetInertviewQns();
        GetInterViewDataList();
        DeclarationtabContentList();
        $("#OfferLetterDiv").hide();
        GetEmptype();

        $("#ddlDocumentTypeID").change(function () {

            var DocumenttypeID = $(this).val();

            GetDocumentSubType(DocumenttypeID);


        });

        $("#ddlDocumentSubtypeID").change(function () {

            var DocumenSubttypeID = $(this).val();
            LoadDocuments(DocumenSubttypeID);
        });

        $(".BtnAppve").click(function () {

            var Status = $(this).attr("name"); 
            if (Status == 2 && $("#EmployyeID").val() == 0) {
                $.ajax({
                    url: "/Candidate/EmployeeDetails",
                    data: { Resident_Id: $("#Resident_Id").val(), CandID: $("#HidCandID").val(), CandSalrexpted: $("#CandSalrexpted").val() }
                }).done(function (data) {
                    $("#CandConfirmationModel").modal("show");
                    $("#EmpTab").html(data);
                });
                $("#CandJoinDate").val("");
            }
            else if (Status == 2 && $("#EmployyeID").val() > 0) {
                $.ajax({
                    url: "/Candidate/EmployeeDetailsEdit",
                    data: { EmployyeID: $("#EmployyeID").val() }
                }).done(function (data) {
                    $("#CandConfirmationEditModel").modal("show");
                    $("#EmpTabEdit").html(data);
                });
            }
            else if (Status != 2) {
                $.ajax({
                    type: "POST",
                    url: "/Candidate/ApproveCandidate",
                    data: { appStatus: Status },
                    async: false

                }).done(function (data) { });
                window.location.href = '/Candidate/Index'
            }
            else{}
        });              

        $('#CandJoinDate').change(function () {
            $(this).blur();
        })

        $("#BtnAddApproval").click(function () {

            $("#CandConfirmationForm").validate({
                rules: {
                    CandOfferSalary: {
                        required: true,
                        number: true
                    },
                    CandJoinDate: {
                        required: true,
                        //date: true,
                    },
                    BasicSalary: {
                        required: true,
                        number: true
                    }
                }
            });
            if ($("#CandConfirmationForm").valid()) {
                $.ajax({

                    type: "GET",
                    url: "/Candidate/UpdateCandididateSalary",
                    data: $("#CandConfirmationForm").serialize()
                }).done(function (data) {

                    if (data == 1) {
                        $("#CandConfirmationModel").modal('hide');
                        $.ajax({
                            type: "GET",
                            url: "/Candidate/OfferLetterFormat",
                            async: false
                        }).done(function (data) {

                            $("#OfferLetterDiv").html(data);
                            var HTMLContent = $("#lettercontent").html();
                            $.ajax({

                                url: "/Candidate/SetMail",
                                type: "POST",
                                cache: false,
                                data: JSON.stringify({ lettercontent: HTMLContent, ToEmailID: $("#HidToEmailID").val() }),
                                dataType: 'json',
                                contentType: "application/json; charset=utf-8",
                                success: function (msg) {
                                    window.location.href = '/Candidate/Index'
                                },
                            });

                        })

                    } else {
                        $.toast({

                            text: "Data Updated Failed",
                            position: 'top-right',
                            hideAfter: 3000,
                            showHideTransition: 'slide',
                            loader: false,
                        })
                    }


                })
            }
        })

        LoadAllowanceLeave_Details();

        $(document).on("click", "#BtnAddEmpDetails", function () {
        //$("#BtnAddEmpDetails").click(function () {
            $.validator.addMethod("check_item_dropdown", function (value, element) {
                return this.optional(element) || value != 0;
            }, "Please select an item from the dropdown list.");
            $.validator.addMethod("check_offday_dropdown", function (value, element) {
                return this.optional(element) || value != -1;
            }, "Please select an item from the dropdown list.");

            $("#CandConfirmationForm").validate({
                rules: {
                    StartDate: {
                        required: true,
                        //date: true
                    },
                    Employeetyp: {
                        required: true,
                        check_item_dropdown: true
                    },
                    BasicSalary: {
                        required: true,
                        number: true
                    },
                    Emp_PermenanentType: {
                        required: true
                    },
                    EmpRegNo: {
                        required: true
                    },
                    RestDay_Fixed: {
                        required: true,
                        check_offday_dropdown: true
                    }

                }
            });
            if ($("#CandConfirmationForm").valid()) {
                                
                $.ajax({
                    type: "POST",
                    url: "/Candidate/AddNewEmployee",
                    data: $("#CandConfirmationForm").serialize()
                    
                }).done(function (data) {
                    if (data.Id==1) {
                        $.toast({

                            text: "Approved Employee",
                            position: 'top-right',
                            hideAfter: 3000,
                            showHideTransition: 'slide',
                            loader: false,
                        })
                        $.ajax({
                            type: "POST",
                            url: "/Candidate/ApproveCandidate",
                            data: { appStatus: 2 }
                        }).done(function (data) { });

                        LoadAllowanceLeave_Details();

                        $('.nav-tabs > .active').next('li').find('a').trigger('click');
                    }
                    else if(data.Id==2)
                    {
                        $.toast({
                            text: "Employee Code Already Registered",
                            position: 'top-right',
                            hideAfter: 3000,
                            showHideTransition: 'slide',
                            loader: false,
                        })
                    }
                    else {
                        $.toast({
                            text: "Application Error Please Contact Administrator!",
                            position: 'top-right',
                            hideAfter: 3000,
                            showHideTransition: 'slide',
                            loader: false,
                        })
                    }
                });
            }
        });        

        
        if ($("#ApproveStatus").val() == "True") {
            $("#BtnLabel").html("Modify Offer Details");
        }
        else
        {            
        }

        $(".close").click(function () {
            window.location.href = "/Candidate/Candidateprofile?CandID=" + $("#HidCandID").val();
        });

    })

</script>

<input type="hidden" id="HidDesigID" value="@Model.DesigID" />
<input type="hidden" id="ApproveStatus" value="@(ViewBag.AppStatus.ToString())" />
<input type="hidden" id="EmployyeID" value="@Model.EmpID" />
<input type="hidden" value="@Model.Resident_Id" id="Resident_Id" />
<input type="hidden" value="@Model.CandID" id="HidCandID" name="CandID" />
<input type="hidden" value="@Model.CandSalrexpted" id="CandSalrexpted" />

<section class="content-header">
    <h1>
        <i class="fa fa fa-user"></i>&nbsp;
        Candidate Profile
    </h1>

    <ol class="breadcrumb">
        <li><a href="/Candidate/Index"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
    </ol>
</section>

<section class="newforms p-t-0">
    <div class="tabsnew">
        <!-- Nav tabs -->
        <div class="box box-primary">

            <div class="row p-t-20">
                <div class="col-sm-3">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle" src="@Model.CandPhoto" alt="User profile picture">

                        <h3 class="profile-username text-center">@Model.CandName</h3>
                        <p class="text-muted text-center">@Model.DesigName</p>
                        <ul class="list-group list-tab">
                            <li role="presentation" class="list-group-item">
                                <a href="#profile" role="tab" data-toggle="tab" class="btn btn-primary btn-block">Personal Details</a>
                            </li>
                            <li role="presentation" class="list-group-item">
                                <a href="#interview" role="tab" data-toggle="tab">Interview</a>
                            </li>
                            <li role="presentation" class="list-group-item">
                                <a href="#interviewlist" role="tab" data-toggle="tab">Interview List</a>
                            </li>
                            @*<li role="presentation" class="list-group-item">
                                    <a href="#profile" role="tab" data-toggle="tab">Personal Details</a>
                                </li>*@
                            <li role="presentation" class="list-group-item">
                                <a href="#docs" role="tab" data-toggle="tab">Documents</a>
                            </li>
                            <li role="presentation" class="list-group-item">
                                <a href="#history" role="tab" data-toggle="tab">Employer History</a>
                            </li>
                            <li role="presentation" class="list-group-item">
                                <a href="#emergencycontact" role="tab" data-toggle="tab">Emergency Contact Details</a>
                            </li>
                            <li role="presentation" class="list-group-item">
                                <a href="#declaration" role="tab" data-toggle="tab">Declaration</a>
                            </li>
                        </ul>
                        <div class="p-l-15 p-r-15">
                            <a href="#" name="2" class="btn btn-block btn-success BtnAppve" id="BtnLabel">Approve</a>
                            <a href="#" name="3" class="btn btn-block btn-danger BtnAppve">Reject</a>
                            <a href="#" name="4" class="btn btn-block btn-warning BtnAppve">Hold</a>
                            @if (Functionlist.Where(m => m.FunTypeID == XoneHR.Models.FunctionTypes.Edit).Select(m => m.UserPermiStatus).SingleOrDefault())
                            {
                                <a href="/Candidate/Edit?CandID=@Model.CandID" class="btn btn-block BtnAppveEmp btn-success"><i class="fa fa-fw fa-edit"></i></a>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade" id="interview">
                            <div id="InertviewQuestion">

                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="interviewlist">
                            <h4>Interview List</h4>
                            <hr class="divider" />
                            <div id="InertviewDetailsList">
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane active" id="profile">
                            <h4>General Details</h4>
                            <hr class="divider" />
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Basic Info</h4><hr />
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 padding-0 control-label">Name</label>
                                            <div class="col-sm-8">
                                                <span>@Model.CandName</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 padding-0 control-label">Mobile</label>
                                            <div class="col-sm-8">
                                                @if (Model.CandMobile == null || Model.CandMobile == "")
                                                {
                                                    <span>NA</span>
                                                }
                                                else
                                                {
                                                    <span>@Model.CandMobile</span>
                                                }

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 padding-0 control-label">Telephone</label>
                                            <div class="col-sm-8">
                                                @if (Model.CandPhone == null || Model.CandPhone == "")
                                                {
                                                    <span>NA</span>
                                                }
                                                else
                                                {
                                                    <span>@Model.CandPhone</span>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label class="col-sm-4 padding-0 control-label">Address</label>
                                            <div class="col-sm-8">
                                                <p>
                                                    @Model.CandAddress
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 padding-0 control-label">Email</label>
                                            <div class="col-sm-8">
                                                <span>@Model.CandEmail</span>
                                                <input type="hidden" id="HidToEmailID" value="@Model.CandEmail" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <h3>Personal Details</h3><hr />
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 padding-0 control-label">Gender</label>
                                            <div class="col-sm-8">
                                                <span>@Model.CandGender</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 padding-0 control-label">Date of Birth</label>
                                            <div class="col-sm-8">
                                                <span>@Model.CandDob.ToString("dd-MM-yyyy")</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 padding-0 control-label">Religion</label>
                                            <div class="col-sm-8">
                                                <span>@Model.ReligName</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 padding-0 control-label">Marital Status</label>
                                            <div class="col-sm-8">
                                                <span>@Model.MaritulStatusType</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 padding-0 control-label">Place of Birth</label>
                                            <div class="col-sm-8">
                                                <span>@Model.CandPlaceofBirth</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 padding-0 control-label">Race</label>
                                            <div class="col-sm-8">
                                                <span>@Model.RaceName</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <h4>Professional Details</h4> <hr />
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 padding-0 control-label">Highest Education</label>
                                            <div class="col-sm-8">
                                                @if (Model.CandHgEducation == null || Model.CandHgEducation == "")
                                                {
                                                    <span>NA</span>
                                                }
                                                else
                                                {
                                                    <span>@Model.CandHgEducation</span>
                                                }
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 padding-0 control-label">Designation Applied For</label>
                                            <div class="col-sm-8">
                                                <span>@Model.DesigName</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 padding-0 control-label">Grade</label>
                                            <div class="col-sm-8">
                                                <span>@Model.Gradename</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 padding-0 control-label">Salary Expected</label>
                                            <div class="col-sm-8">
                                                @if (Model.CandSalrexpted == 0)
                                                {
                                                    <span>NA</span>
                                                }
                                                else
                                                {
                                                    <span>@Model.CandSalrexpted</span>
                                                }
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-12">
                                    <h4>Nationality & Licensing</h4><hr />
                                    <div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="" class="col-sm-4 padding-0 control-label">Nationality</label>
                                                <div class="col-sm-8">
                                                    <span>@Model.Citizen</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 padding-0 control-label">Resident Status</label>
                                                <div class="col-sm-8">
                                                    <span>@Model.Resident_Name</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                    @if (Model.Resident_Id == 1 || Model.Resident_Id == 2)
                                    {
                                        <div id="sigapore">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="" class="col-sm-4 padding-0 control-label">NRIC</label>
                                                    <div class="col-sm-8">
                                                        <span>@Model.CandNRICNo</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 padding-0 control-label">Passprot Number</label>
                                                    <div class="col-sm-8">
                                                        <span>@Model.PassportNo</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="workpermit">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="" class="col-sm-4 padding-0 control-label">Passport Number</label>
                                                    <div class="col-sm-8">
                                                        <span>@Model.PassportNo</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 padding-0 control-label">Passport Expiry</label>
                                                    <div class="col-sm-8">
                                                        <span>@Model.PassportExpiry.ToString("dd/MM/yyyy")</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="" class="col-sm-4 padding-0 control-label">Fin Number</label>
                                                    <div class="col-sm-8">
                                                        <span>@Model.FinNo</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 padding-0 control-label">Fin Expiry</label>
                                                    <div class="col-sm-8">
                                                        <span>@Model.FinExpiry.ToString("dd/MM/yyyy")</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                                                                 
                                 </div>   
                                
                                <div class="col-md-12">
                                    <h4>PLRD Details</h4><hr />
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 padding-0 control-label">PLRD Issue Date</label>
                                            <div class="col-sm-8">
                                                @if (Model.IssueDate == null)
                                                {
                                                    <span>NA</span>
                                                }
                                                else
                                                {
                                                    <span>@Model.IssueDate.ToString("dd-MM-yyyy")</span>
                                                }
                                                
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 padding-0 control-label">License Number</label>
                                            <div class="col-sm-8">
                                                @if (Model.LicenseNum == null)
                                                {
                                                    <span>NA</span>
                                                }
                                                else
                                                {
                                                    <span>@Model.LicenseNum</span>
                                                }
                                            </div>
                                        </div>

                                        
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 padding-0 control-label">PLRD Expiry Date</label>
                                            <div class="col-sm-8">
                                                @if (Model.ExpiryDate == null)
                                                {
                                                    <span>NA</span>
                                                }
                                                else
                                                {
                                                    <span>@Model.ExpiryDate.ToString("dd-MM-yyyy")</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>                     
                                    
                                <div class="col-md-12">
                                    <h4>Other Info</h4><hr />
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 padding-0 control-label">Register Date</label>
                                            <div class="col-sm-8">
                                                <span>@Model.CandJoinDate.ToString("dd-MM-yyyy")</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 padding-0 control-label">Special Notes</label>
                                            <div class="col-sm-8">
                                                @if (Model.CandDetails == null || Model.CandDetails == "")
                                                {
                                                    <span>NA</span>
                                                }
                                                else
                                                {
                                                    <span>@Model.CandDetails</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>

                        <div role="tabpanel" class="tab-pane fade" id="docs"><h4>Documents</h4>
                            <form class="">
                                <div class="form-group">
                                    <label class="col-sm-1 p-t-5 control-label">Filter</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="ddlDocumentTypeID" style="width: 100%;"></select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="ddlDocumentSubtypeID" style="width: 100%;"></select>
                                    </div>
                                </div>
                            </form>
                            <table class="table table-responsive table-condensed table-hover">
                                <tbody id="Documentslistss"></tbody>
                            </table>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="history">
                            <h4>Employee History</h4>
                            <table class="table table-condenced">
                                <thead>
                                    <tr>
                                        <th>Employer</th>
                                        <th>Duration</th>
                                        <th>Last Salary</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="EmpHistory"></tbody>
                            </table>


                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="declaration">

                            <div id="DeclarationtabContent"></div>

                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="emergencycontact">
                            <h4>Emergency Contact</h4>
                            <hr class="divider" />
                            <div class="row">
                                <div class="col-md-6">
                                    <form>
                                        <div class="form-group">
                                            <label class="col-sm-4 padding-0 control-label">Name</label>
                                            <div class="col-sm-8">
                                                @if (Model.EmrgContact == null || Model.EmrgContact == "")
                                                {
                                                    <span>NA</span>
                                                }
                                                <span>@Model.EmrgContact</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="" class="col-sm-4 padding-0 control-label">Relationship</label>
                                            <div class="col-sm-8">
                                                @if (Model.EmrgRelationship == "" || Model.EmrgRelationship == null)
                                                {
                                                    <span>NA</span>
                                                }
                                                else
                                                {
                                                    <span>@Model.EmrgRelationship</span>
                                                }
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 padding-0 control-label">Contact Number</label>
                                            <div class="col-sm-8">
                                                @if (Model.EmrgContactNo == "" || Model.EmrgContactNo == null)
                                                {
                                                    <span>NA</span>
                                                }
                                                else
                                                {
                                                    <span>@Model.EmrgContactNo</span>
                                                }
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 padding-0 control-label">Details</label>
                                            <div class="col-sm-8">
                                                <p>
                                                    @if (Model.EmrgDetails == null || Model.EmrgDetails == "")
                                                    {
                                                        <span>NA</span>
                                                    }
                                                    else
                                                    {
                                                        @Model.EmrgDetails
                                                    }
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                     </div>                  

                 </div>
             </div>

          </div>
            <!-- /.box-body -->
      </div>
        <!-- Tab panes -->
    @*</div>*@
</section>

<div class="modal fade" id="AddnewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

</div>

<div class="modal fade" role="dialog" id="CandConfirmationModel" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Candidate Approve Window</h4>
        </div>
        <div class="modal-content">
            <div class="modal-body newforms">               
                <div class="tabsnew">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#EmpTab" aria-controls="home" role="tab" data-toggle="tab">Employee Details</a></li>
                        <li role="presentation"><a href="#AllowanceTab" aria-controls="" role="tab" data-toggle="tab">Allowance Details</a></li>
                        <li role="presentation"><a href="#LeaveTab" aria-controls="BasicSalary" role="tab" data-toggle="tab">Leave Details</a></li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="EmpTab">
                            <br />
                            
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="AllowanceTab"></div>
                        <div role="tabpanel" class="tab-pane fade" id="LeaveTab"></div>
                    </div>
                </div>                
            </div>
            <div class="modal-footer text-right">
                @*<button type="button" class="btn btn-default" id="BtnAddApproval">Yes</button>
                <button type="button" class="btn btn-default greybtn" data-dismiss="modal">No</button>*@
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="CandConfirmationEditModel" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Candidate Approve Window Edit</h4>
        </div>
        <div class="modal-content">
            <div class="modal-body newforms">
                <div class="tabsnew">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#EmpTabEdit" aria-controls="home" role="tab" data-toggle="tab">Employee Details</a></li>
                        <li role="presentation"><a href="#AllowanceTabEdit" aria-controls="" role="tab" data-toggle="tab">Allowance Details</a></li>
                        <li role="presentation"><a href="#LeaveTabEdit" aria-controls="BasicSalary" role="tab" data-toggle="tab">Leave Details</a></li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="EmpTabEdit">
                            <br />
                            
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="AllowanceTabEdit"></div>
                        <div role="tabpanel" class="tab-pane fade" id="LeaveTabEdit"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-right">
            </div>
        </div>
    </div>
</div>

<div id="OfferLetterDiv"></div>