@model List<XoneHR.Models.TblCheckListTypesEdit>
@{
    ViewBag.Title = "CheckListTypeEdit";
    var i = 0;
}

<script type="text/javascript">
    $(document).ready(function () {
        $(".ckeckbox").change(function () {
        
            if (this.check) {
               
            }
            else {
                var x = $(this).attr('data-status');

                $("#name" + x).val("");
                $("#size" + x).val("");
               
            }
        });
    });
</script>


<table class="table table-bordered">

    <thead>
        <tr>
            <th> </th>
            <th>Details</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Size</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                @if (item.CheckListID == 0)
                {
                    <td><input id="checkboxes" class="ckeckbox" type='checkbox' value='@item.CheckListTypeID' data-status="@i" /><input type="hidden" value="@item.CheckListTypeID" /></td>
                }
                else
                {
                    <td><input checked id="checkboxes" class="ckeckbox" type='checkbox' value='@item.CheckListTypeID' data-status="@i" /><input type="hidden" value="@item.CheckListTypeID" /></td>
                }
                <td>@item.CheckListDetails</td>
                <td><input type="text" name="Price" id="@("price"+@i)" value="@item.Price" readonly class="form-control required" autocomplete="off"></td>
                @if (@item.Quantity == 0)
                {
                    <td><input type="text" name="LeavesTaken" id="@("name"+@i)" value="" class="form-control required Quantity" autocomplete="off"></td>
                }
                else
                {
                    <td><input type="text" name="LeavesTaken" id="@("name"+@i)" value="@item.Quantity" class="form-control required Quantity" autocomplete="off"></td>
                }

                <td><input type="text" name="LeavesText" id="@("size"+@i)" value="@item.Size" class="form-control required" autocomplete="off"></td>
            </tr>
            i++;

        }
    </tbody>
</table>
<button type="button" class="btn btn-sm btn-success" id="CheckListDetailsSave">Save<i class="fa fa-floppy-o"></i></button>

