@model  IEnumerable<XoneHR.Models.TblDeclarationType>
@{
    ViewBag.Title = "DeclarationtabContentList";
    var j = 0;
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#agreechkbox").hide();

        $("#Agreeid").change(function () {
           
            if ($("#Agreeid").prop("checked") == true)
                $("#agreechkbox").hide();
            else
                $("#agreechkbox").show();
        });
                       
        $("#btnFinishCand").click(function () {
                       
            //if ($("#Cand_Emp").val() == 1) {
            //    $('.nav-tabs > .active').next('li').find('a').trigger('click');
            //}
            //else {                                         

                if ($("#Agreeid").prop("checked") == true) {

                    var CandDeclAns = [], i = 0;
                    var ValidationArray = [];

                    $(".chkradio").each(function () {
                        if ($("#chkradio" + $(this).attr('data-status')).is(':checked')) {
                            CandDeclAns[i] = 1;
                        }
                        else if ($("#unchkradio" + $(this).attr('data-status')).is(':checked')) {
                            CandDeclAns[i] = 0;
                        }
                        else{}
                        i++;
                    });
                                     

                    var Declarationtabform = $("#Declarationtabform").serialize();
                    Declarationtabform += "&CandDeclAns=" + CandDeclAns;
                    $.ajax({
                        url: "/Candidate/SaveDeclaration",
                        data: Declarationtabform
                    }).done(function (data) {

                    });
                    if ($("#Cand_Emp").val() == 1) {
                        $('.nav-tabs > .active').next('li').find('a').trigger('click');
                        
                    }
                    else {
                        window.location.href = "/Candidate/Index";
                    }
                    
                }
                else {
                    $("#agreechkbox").show();
                }
                
           // }
        });

    });
</script>
@*<input type="hidden" id="CandDeclAns" name="CandDeclAns" />*@
<form id="Declarationtabform">
    <input type="hidden" id="HidTab6" name="HidTab6" value="6" />
    @foreach (var item in Model)
    {
        var i = 0;
        <h3 class="box-title">@item.DeclName</h3>
        foreach (var cntnt in ViewBag.DeclarationContent)
        {

            if (item.DeclTypeID == cntnt.DeclTypeID)
            {
                i++; j++;
               
                <hr class="divider">
                <div class="ques">
                    <div class="form-group">
                        <div class="form-group col-sm-12">
                            <h5>@i. @cntnt.DeclContent</h5><input type="hidden" name="DeclID" value="@cntnt.DeclID">
                            <div class="col-sm-4 sex">
                                <label class="sexlabel">
                                    <input type="radio" name=@("CandDeclAnswer"+j) class="flat-red chkradio" data-status="@j" id=@("chkradio"+j)>                                    
                                    Yes
                                </label>
                                <label class="sexlabel">
                                    <input type="radio" name=@("CandDeclAnswer"+j) class="flat-red unchkradio" data-status="@j" id=@("unchkradio"+j)>
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="3" name="CandDeclAnsDetail" id=@("CandDeclAnsDetail"+j)></textarea>
                        </div>
                    </div>
                </div>
            }
        }
    }

    <hr class="divider">
    <div class="form-group">
        <div class="col-sm-10">
            <div class="form-control answer" rows="3"> I hereby certify that the above information as provided by me is true, complete and accurate to the best of my knowledge. I further understand that any wilful act on my part in withholding information or making any false statement in this employment application is in itself sufficient ground for dismissal from the company.</div>
        </div>
        <div class="col-sm-6">
            <label>
                <input type="checkbox" class="flat-red" id="Agreeid" name="Agreeid">
                I Agree
            </label><p><span style="color:red" id="agreechkbox">Accept the terms</span></p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8">
            <button type="button" class="btn btn-success" id="btnFinishCand">Finish</button>
        </div>
    </div>

</form>
  
  

