@model IEnumerable<XoneHR.Models.DocumentDetails>
@{
    ViewBag.Title = "DocumentsList";
    Layout = null;
}

<script type="text/javascript">
    $(document).ready(function () {

        

    });
</script>


@foreach (var item in Model)
{

    <div class="row m-b-10">

        <div class="col-xs-4">
            @item.DocTypName
        </div>

        <div class="col-xs-4">
            @item.DocStypName
        </div>

        <div class="col-xs-3">
            <a href="@Url.Action(item.DocFiles)" target="_blank" class="btn fa fa-download">
                <i></i>
            </a>
            <input type="button" class="btneditdoc" value="Edit" data-docid="@item.DocID" data-doctypid="@item.DocTypID" data-docstypid="@item.DocStypID" data-docfiles="@item.DocFiles" />
        </div>

    </div>

}




