@model IEnumerable<XoneHR.Models.TblEmployeHistory>
@{
    ViewBag.Title = "EmployerHistoryList";
    Layout = null;
}


@foreach (var item in Model)
{


    @*<table class="table table-condenced">
        <thead>
            <tr>
                <th>Employer</th>
                <th>Duration</th>
                <th>Last Salary</th>

            </tr>
        </thead>
        <tbody>*@
    <tr>
        <td>@item.EmphEmployer</td>
        <td>@item.EmphStartDate.ToString("dd-MM-yyyy") - @item.EmphEndDate.ToString("dd-MM-yyyy")</td>
        <td>@item.EmphSalryLast</td>
        <td><button type="button" class="btn btn-primary EditEmployer" data-id=@item.EmphID data-employer="@item.EmphEmployer" data-startdate="@item.EmphStartDate.ToShortDateString()" data-enddate="@item.EmphEndDate.ToShortDateString()" data-salary="@item.EmphSalryLast" >Edit</button></td>
    </tr>
    @*</tbody>
        </table>*@



}

