@model IEnumerable<XoneHR.Models.LeaveDetails>
@{
    ViewBag.Title = "EmployeeLeaves";
}


@foreach (var item in Model)
{
    <tr>
        @if (item.LeavetypID != 7)
        {
            <td>@item.LeaveType <input type="hidden" name="LeavetypID" value="@item.LeavetypID" /></td>
            <td><input type="text" value="@item.EligibleLeaves" name="EligibleLeaves" class="form-control required" autocomplete="off" /></td>
            <td><input type="text" name="EarnedLeaves" value="@item.EarnedLeaves" class="form-control required" autocomplete="off" /></td>
            <td><input type="text" name="LeavesTaken" value="@item.LeavesTaken" class="form-control required" autocomplete="off" /></td>
            <td><input type="text" value="@item.LeavesText" name="LeavesText" class="form-control required" autocomplete="off" /></td>
        }
        else
        {
            <td>@item.LeaveType <input type="hidden" name="LeavetypID" value="@item.LeavetypID" /></td>
            <td><input type="text" name="EligibleLeaves" value="0" class="form-control required" autocomplete="off" readonly="readonly"/></td>
            <td><input type="text" name="EarnedLeaves" value="0" class="form-control required" autocomplete="off" readonly="readonly"/></td>
            <td><input type="text" name="LeavesTaken" value="@item.LeavesTaken" class="form-control required" autocomplete="off" /></td>
            <td><input type="text" name="LeavesText" value="0" class="form-control required" autocomplete="off" readonly="readonly"/></td>
        }
    </tr>
}
<input type="hidden" id="EmpID" name="EmpID" value="@ViewBag.EmployeeID"/>