@model XoneHR.Models.CandidateAppoinment
@{
    ViewBag.Title = "EmployeeDetailsEdit";
}

<script src="~/plugins/Toast/src/jquery.toast.js"></script>
<link href="~/plugins/Toast/src/jquery.toast.css" rel="stylesheet" />
<script src="~/XoneScripts/Pages/Layout.js"></script>

<script>
    function GetEmptype() {

        var ddlBox = $("#EmpTypID");
        $.ajax({
            url: "/Candidate/GetEmployeeType",

        }).done(function (data) {

            ddlBox.empty();
            ddlBox.append('<option value="0">--Select--</option>').selectpicker('refresh');

            $.each(data, function (i, item) {

                ddlBox.append('<option value=' + item.EmpTypID + '>' + item.EmpTypName + '</option>').selectpicker('refresh');;
            });
            $('select[name=Employeetyp]').val($("#HidEmpTypid").val());
            $('select[name=Employeetyp]').selectpicker('refresh');           
        });
    }

    function GetFundTypes() {

        var ddlBox = $("#FundType");

        $.ajax({
            url: "/Candidate/GetFundTypes",
            async: false
        }).done(function (data) {

            ddlBox.empty();
            ddlBox.append('<option value="0">--Select--</option>').selectpicker('refresh');
            $.each(data, function (i, item) {

                ddlBox.append('<option value=' + item.FundTypeID + '>' + item.FundType + '</option>').selectpicker('refresh');
            });
            $('select[name=FundType]').val($("#FundTypeid").val());
            $('select[name=FundType]').selectpicker('refresh');
        });
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        GetEmptype(); 
        $('#EmpTypID').change(function () {
            if ($(this).val() != 0) {
                $("label[for='EmpTypID']").text('');
            }
            else {
                $("label[for='EmpTypID']").text('Please select an item from the dropdown list.');
            }
        });
        $('#StartDate').change(function () {
            $(this).blur();
        });
        $("#div_funds").hide();
        $("#div_levy").hide();
        if ($("#Resident_Id").val() == 1 || $("#Resident_Id").val() == 2) {
            GetFundTypes();
            $("#div_funds").show();
            $("#div_levy").hide();
        }
        else {
            $("#div_funds").hide();
            $("#div_levy").show();
        }

        $("#Emp_PermenanentType").val($("#HidEmp_PermenanentType").val());
        $("#EmpEndDateDiv").hide();
        $("#BSal_label").html("Basic Salary");
        $("#div_Emp_PermenanentType").hide();
        $("#EmpTypID").change(function () {
            
            if ($("#EmpTypID").val() == 1) {
                $("#EmpEndDateDiv").hide();
                $("#DivPartemp").hide();
                $("#BSal_label").html("Basic Salary");
                $("#div_Emp_PermenanentType").show();
            }
            else if ($(this).val() == 2) {
                $("#DivPartemp").show();
                $("#EmpEndDateDiv").hide();
                $("#div_Emp_PermenanentType").hide();
                $("#Emp_PermenanentType").val(0);
            }
            else {
                $("#EmpEndDateDiv").show();
                $("#DivPartemp").hide();
                $("#BSal_label").html("Basic Salary");
                $("#div_Emp_PermenanentType").hide();
                $("#Emp_PermenanentType").val(0);
            }
        });

        if ($("#HidEmpPartTime_Pay").val() == 1)
        {
            $("#BSal_label").html("Hourly Base Salary");
            $("#rd_PayStruct1").attr("checked", "checked");
            $("#DivPartemp").show();
        }            
        else if ($("#HidEmpPartTime_Pay").val() == 2)
        {
            $("#BSal_label").html("Daily Base Salary");
            $("#rd_PayStruct1").attr("checked", "checked");
            $("#DivPartemp").show();
        }            
        else
        {
            $("#BSal_label").html("Basic Salary");
            $("#DivPartemp").hide();
        }            

        $(".rd_PayStruct").change(function () {

            if ($("#rd_PayStruct1").is(':checked') == 1) {

                $("#BSal_label").html("Hourly Base Salary");
            }
            else if ($("#rd_PayStruct2").is(':checked') == 1) {

                $("#BSal_label").html("Daily Base Salary");
            }
            else {
                $("#EmpEndDateDiv").show();
                $("#DivPartemp").hide();
                $("#BSal_label").html("Basic Salary");
            }
        });
       
       
    });
</script>

<input type="hidden" id="FundTypeid" value="@Model.FundType" />
<input type="hidden" id="HidEmpPartTime_Pay" value="@Model.EmpPartTime_Pay" />

<form class="projectadding form-horizontal col-sm-12" action="#" id="CandConfirmationForm">
    <input type="hidden" name="RestDay_Optional" value="-1" />
    <div class="form-group">
        <label class="col-sm-3 control-label">Employee Code</label>
        <div class="col-sm-4">
            <span><input type="text" class="form-control required" name="EmpRegNo" value="@Model.EmpRegNo" id="EmpRegNo" autocomplete="off"/></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 text-left padding-0 control-label">Employment Type</label>
        <div class="col-sm-4">
            <span><select class="form-control required" name="Employeetyp" id="EmpTypID"></select></span>
            <input type="hidden" id="HidEmpTypid" value="@Model.Employeetyp" />
        </div>
    </div>
    <div class="form-group" id="div_Emp_PermenanentType">
        <label class="col-sm-3 control-label">Working Type</label>
        <div class="col-sm-4">
            <span>
                <select class="form-control required" name="EmpSubTypeID" id="Emp_PermenanentType">
                    <option value="0">--Select--</option>
                    <option value="1">Permanent Day</option>
                    <option value="2">Permanent Night</option>
                </select>
                <input type="hidden" id="HidEmp_PermenanentType" value="@Model.EmpSubTypeID" />
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 text-left padding-0 control-label">Employment Start date</label>
        <div class="col-sm-4">
            <span><input type="text" class="form-control daterangepicker-single required" id="StartDate" name="StartDate"></span>   @*value="@Model.StartDate.ToString("dd/MM/yyyy")"*@
            <input type="hidden" value="@Model.CandID" id="HidCandID" name="CandID" />
        </div>
    </div>
    <div class="form-group" id="EmpEndDateDiv">
        <label class="col-sm-3 text-left padding-0 control-label">Employment End date</label>
        <div class="col-sm-4">
            @if (Model.EndDate.ToString() != null || Model.EndDate.ToString() != "")
            {
                <span><input type="text" class="form-control daterangepicker-single" name="EndDate" id="EndDate"></span>
            }
            else
            {
                <span><input type="text" class="form-control daterangepicker-single" value="@Model.EndDate.ToString("dd/MM/yyyy")" name="EndDate" id="EndDate"></span>
            }
        </div>
    </div>
    <div class="form-group" id="DivPartemp">
        <label class="col-sm-3 control-label">Pay Structure</label>
        <div class="col-sm-6">
            <div class="input-group date">
                <input type="radio" id="rd_PayStruct1" class="rd_PayStruct" name="EmpPartTime_Pay" value=1 />Hourly Rate
                <input type="radio" id="rd_PayStruct2" class="rd_PayStruct" name="EmpPartTime_Pay" value=2 />Daily Rate
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 text-left padding-0 control-label" id="BSal_label"></label>
        <div class="col-sm-4">
            <span><input type="text" class="form-control required" value="@Model.BasicSalary" name="BasicSalary" autocomplete="off"></span>
        </div>
    </div>
    <input type="hidden" value="@Model.Resident_Id" id="Resident_Id" />
    <div id="div_funds">
        <div class="form-group">
            <label class="col-sm-3 text-left padding-0 control-label">CPF Contribution</label>
            <div class="col-sm-4">
                <label><input type="radio" name="CPF" value="1" checked="checked"> Yes</label>
                <label><input type="radio" name="CPF" value="0"> No</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 text-left padding-0 control-label">Other Fund Types</label>
            <div class="col-sm-4">
                <span><select class="form-control required" name="FundType" id="FundType" @*multiple="multiple"*@></select></span>
            </div>
        </div>
    </div>
    <div class="form-group" id="div_levy">
        <label class="col-sm-3 text-left padding-0 control-label">Levy</label>
        <div class="col-sm-4">
            <input type="text" id="Levy" class="form-control required" name="Levy" placeholder="Levy" autocomplete="off" />
        </div>
    </div>
    <input type="hidden" name="Emp_IsApproved" value="false" />
    <label class="col-sm-3">&nbsp;</label>
    <button type="button" class="btn btn-sm btn-success" id="BtnAddEmpDetails">Save<i class="fa fa-floppy-o"></i></button>
</form>
