@model IEnumerable<XoneHR.Models.TblLeaveMasterwise>
@{
    ViewBag.Title = "GetDesignationLeaves";  
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#BtnPrev1").click(function () {
            $('.nav-tabs > .active').prev('li').find('a').trigger('click');
        })
              

        $("#BtnLeaveAssignment").click(function () {
            var leave = [],i=0;

            $('.LeavesMastNo').each(function () {
                leave.push($(this).attr('data-typeid'));
                leave.push($(this).val());
                i++;
            });

            $.ajax({
                type: "GET",
                url: "/Candidate/EmployeeLeaveSave",
                data: { Leave: JSON.stringify(leave), EmpID: $("#Empid").val() }
            }).done(function (data) {
                $.toast({
                    text: data.Message,
                    position: 'top-right',
                    hideAfter: 3000,
                    showHideTransition: 'slide',
                    loader: false,
                })
                if (data.Result == 1) {
                    window.location.href = "/Candidate/Candidateprofile?CandID=" + $("#HidCandID").val();
                }
            });
        })

    })
</script> 

<input type="hidden" id="Empid" value="@ViewBag.Empid" />
<input type="hidden" value="@ViewBag.CandID" id="HidCandID" name="CandID" />
<form action="#" id="FrmDesigAssignment">
    <div class="row">
        <div class="col-md-8">
            @foreach (var a in Model)
            {
                <div class="form-group">
                    @if (Convert.ToInt32(a.LeavetypID   ) != 7)
                    {
                        <label for="inputEmail3" class="col-sm-6 control-label">@a.LeaveType</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control LeavesMastNo required" id="@a.LeavetypID" name="@("LeavesMastNo"+a.LeavetypID)" data-typeid="@a.LeavetypID" value="@a.LeavesMastNo">
                        </div>
                    }                    
                </div>
            }
        </div>
    </div>  
    <div class="text-left">
        <button type="button" class="btn btn-sm btn-success" id="BtnPrev1">Previous <span>&nbsp;</span> <i class="fa fa-arrow-circle-left"></i></button>
        <button type="button" class="btn btn-sm btn-success" id="BtnLeaveAssignment">Save <span>&nbsp;</span> <i class="fa fa-floppy-o"></i></button>
    </div>  
</form>
