@model List<XoneHR.Models.TblCheckListTypes>

@{
    ViewBag.Title = "Index";
    var Functionlist = XoneHR.Models.SessionManage.Current.PermitFunctions;
    var i = 0;
}

<script src="~/plugins/Toast/src/jquery.toast.js"></script>
<link href="~/plugins/Toast/src/jquery.toast.css" rel="stylesheet" />

<script type="text/javascript">

    function CandidateList(statusID) {
        $.ajax({

            type: "GET",
            url: "/Candidate/CandidateList",
            data: { statusID: statusID }

        }).done(function (data) {

            $("#CandidateList").html(data);

        });
    }

    $(document).ready(function () {

        CandidateList(0);

        $("#StatusFilterID").change(function () {
            CandidateList($(this).val());
        });

        $(document).on("click", ".BtnAppveCand", function () {
            var CandID = $(this).attr('data-CandID');
            $.ajax({
                url: "/Candidate/CandidateApproveFromList",
                data: { CandID: CandID }
            }).done(function (data) {
                $("#CandConfirmationModel").modal('show');
                $("#CandConfirmationModel").html(data);
            });
        });

        $(document).on("click", ".btnappmntformclose", function () {
            window.location = "/Candidate/Index";
        });

        $(document).on("click", "#CheckListDetailsSave", function () {

            var arr = [];
            $('input.ckeckbox:checkbox:checked').each(function () {
                var x = $(this).attr('data-status');

                var quantity = $("#name" + x).val();
                var size = $("#size" + x).val();
                var Price = $("#price" + x).val();

                arr.push($(this).val(), Price, quantity, size);

            });

            $.ajax({
                type: "POST",
                url: "/Candidate/OffboardCheckListSave",
                data: { Data: JSON.stringify(arr), Cnd_id: $("#Cnd_id").val() },
                async: false
            }).done(function (data) {

                $.toast({
                    text: data.Message,
                    position: 'top-right',
                    hideAfter: 2000,
                    showHideTransition: 'slide',
                    loader: false,
                })

                if (data.Result > 0) {
                    $("#ConvertToWorkforce").modal("hide");
                    window.location = "/Candidate/Index"
                }

            });

        });

        $(document).on("click", ".ToworkForce", function () {

            $("#Cnd_id").val($(this).attr('data-CandID'));

            $.ajax({
                type: "GET",
                url: "/Candidate/UpdateCandidateStatus",
                data: { CandID: $("#Cnd_id").val() }
            }).done(function (data) {

                if (data.Result == 1) {
                    $("#ConvertToWorkforce").modal("show");
                }
                else {
                    $.toast({
                        text: data.Message,
                        position: 'top-right',
                        hideAfter: 3000,
                        showHideTransition: 'slide',
                        loader: false,
                    })
                }
            });

        });

    });
</script>

<section class="content-header">

    <h1>
        <i class="fa fa-book"></i>&nbsp;
        Candidate List
    </h1>
    @if (Functionlist.Where(m => m.FunTypeID == XoneHR.Models.FunctionTypes.Create).Select(m => m.UserPermiStatus).SingleOrDefault())
    {
        <ol class="breadcrumb">
            <li><a href="/Candidate/Create"><i class="fa fa-plus"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
        </ol>
    }
</section>

<div class="p-l-15 p-r-15 p-t-15">
    <select aria-controls="example1" class="form-control" id="StatusFilterID">
        <option value="0">All</option>
        <option value="1">New</option>
        <option value="2">Approved</option>
        <option value="3">Rejected</option>
        <option value="4">Hold</option>
    </select>
</div>

<div id="CandidateList"></div>

<div class="modal fade" role="dialog" id="CandConfirmationModel" tabindex="-1" aria-labelledby="myModalLabel">
</div>

<div class="modal fade" role="dialog" id="ConvertToWorkforce" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Candidate </h4>
        </div>
        <div class="modal-content">
            <div class="modal-body newforms">
                <div class="tabsnew">

                    <div class="tab-content">

                        <input type="hidden" id="Cnd_id" />

                        <table class="table table-bordered">

                            <thead>
                                <tr>
                                    <th> </th>
                                    <th>Details</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Size</th>
                                </tr>
                            </thead>

                            <tbody id="Leavedetail">

                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td><input id="checkboxes" class="ckeckbox" type='checkbox' value='@item.CheckListTypeID' data-status="@i" /><input type="hidden" value="@item.CheckListTypeID" /></td>
                                        <td>@item.CheckListDetails</td>
                                        <td><input type="text" name="Price" id="@("price"+@i)" value="@item.Price" readonly class="form-control required" autocomplete="off"></td>

                                        <td><input type="text" name="LeavesTaken" id="@("name"+@i)" class="form-control required Quantity" autocomplete="off"></td>
                                        <td><input type="text" name="LeavesText" id="@("size"+@i)" class="form-control required" autocomplete="off"></td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-sm btn-success" id="CheckListDetailsSave">Save<i class="fa fa-floppy-o"></i></button>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-right">
            </div>
        </div>
    </div>
</div>