@model IEnumerable<XoneHR.Models.LeaveDetails>
@{
    ViewBag.Title = "EmployeeLeaves";
    //var TotalEligible = 0;
    //var TotalEarned = 0;
    //var TotalTaken = 0;
    //var TotalAvailable = 0;
}

@foreach (var item in Model)
{

    <tr>
        @if (@item.LeavetypID != 7)
        {
            <td>@item.LeaveType</td>
            <td>@item.EligibleLeaves</td>
            <td>@item.EarnedLeaves</td>
            <td>@item.LeavesTaken</td>
            <td>@item.LeavesText</td>
        }
        else
        {
            <td>@item.LeaveType</td>
            <td>NA</td>
            <td>NA</td>
            <td>@item.LeavesTaken</td>
            <td>NA</td>
        }

    </tr>
    if(ViewBag.leavetypeid == item.LeavetypID && item.LeavetypID != 7)
    {
        <input type="hidden" id="AvailableLeaves" value="@item.LeavesText"/>
    }
    else if (ViewBag.leavetypeid == item.LeavetypID && item.LeavetypID == 7)
    {
        <input type="hidden" id="AvailableLeaves" value="NA" />
    }
}
