@model IEnumerable<XoneHR.Models.LeaveApplication>
@{
    ViewBag.Title = "LeaveList";
    Layout = null;
    var Functionlist = XoneHR.Models.SessionManage.Current.PermitFunctions;
}

<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables/dataTables.bootstrap.min.js"></script>

<script>
    $(function () {
        $('#example2').DataTable();
    });
</script>

<table id="example2" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th style="width:15%;">Employee </th>
            <th>Leave Type</th>
            <th>Leave Date</th>
            @*<th>Leave End Date</th>*@
            <th>Day Type</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            var status = "";
            if (item.EmpappStatus == 0)
            {
                status = "Pending";
            }
            else if (item.EmpappStatus == 1)
            {
                status = "Approved";
            }
            else if (item.EmpappStatus == 2)
            {
                status = "Rejected";
            }
            else
            {
                status = "Authorized";
            }

            <tr>

                <td>@item.CandName</td>
                <td>@item.LeaveType<input type="hidden" value="@item.LeavetypID" id="LeavetypIDs" /></td>
                <td>@item.EmpLeaveDate.ToString("dd/MM/yyyy")</td>
             
                <td>@item.DayType</td>
                <td><span class="label label-success">@status</span></td>
                
                <td>
                    @if (item.EmpappStatus == 1)
                    {
                        if (Functionlist.Where(m => m.FunTypeID == XoneHR.Models.FunctionTypes.AuthorizeLeave).Select(m => m.UserPermiStatus).SingleOrDefault())
                        {
                            <a href="#" class="BtnAuthorize" data-empappstatus="@item.EmpappStatus" data-name="@item.EmpLeaveappID" data-leavetype="@item.LeaveType" data-empid="@item.EmpID" data-empname="@item.CandName" data-leavetypeid="@item.LeavetypID" data-empdate="@item.EmpLeaveDate.ToString("dd/MM/yyyy")" data-daytype="@item.DayTypID"><i>Authorize...</i></a>
                        }
                        if (Functionlist.Where(m => m.FunTypeID == XoneHR.Models.FunctionTypes.WithdrawLeave).Select(m => m.UserPermiStatus).SingleOrDefault())
                        {
                            <a href="#" class="BtnCancel" data-name="@item.EmpLeaveappID" data-leavetypeid="@item.LeavetypID" data-empid="@item.EmpID" data-empdate="@item.EmpLeaveDate.ToString("dd/MM/yyyy")"><i>Withdraw</i></a>
                        }
                    }
                    else if (item.EmpappStatus == 2)
                    {
                        @*<a href="#" class="BtnApprove" data-name="@item.EmpLeaveappID" data-leavetype="@item.LeaveType" data-empid="@item.EmpID" data-empname="@item.CandName" data-leavetypeid="@item.LeavetypID" data-status="@item.EmpappStatus" data-empdate="@item.EmpLeaveDate.ToString("dd/MM/yyyy")"><i>Approve...</i></a>*@
                        if (Functionlist.Where(m => m.FunTypeID == XoneHR.Models.FunctionTypes.WithdrawLeave).Select(m => m.UserPermiStatus).SingleOrDefault())
                        {
                            <a href="#" class="BtnCancel" data-name="@item.EmpLeaveappID" data-leavetypeid="@item.LeavetypID" data-empid="@item.EmpID" data-empdate="@item.EmpLeaveDate.ToString("dd/MM/yyyy")"><i>Withdraw</i></a>
                        }
                    }
                    else if (item.EmpappStatus == 0)
                    {
                        if (Functionlist.Where(m => m.FunTypeID == XoneHR.Models.FunctionTypes.ApproveLeave).Select(m => m.UserPermiStatus).SingleOrDefault())
                        {
                            <a href="#" class="BtnApprove" data-name="@item.EmpLeaveappID" data-leavetype="@item.LeaveType" data-empid="@item.EmpID" data-empname="@item.CandName" data-leavetypeid="@item.LeavetypID" data-status="@item.EmpappStatus" data-empdate="@item.EmpLeaveDate.ToString("dd/MM/yyyy")"><i>Approve...</i></a>
                        }
                        if (Functionlist.Where(m => m.FunTypeID == XoneHR.Models.FunctionTypes.WithdrawLeave).Select(m => m.UserPermiStatus).SingleOrDefault())
                        {
                            <a href="#" class="BtnCancel" data-name="@item.EmpLeaveappID" data-leavetypeid="@item.LeavetypID" data-empid="@item.EmpID" data-empdate="@item.EmpLeaveDate.ToString("dd/MM/yyyy")"><i>Withdraw</i></a>
                        }
                    }
                    else
                    {
                        if (Functionlist.Where(m => m.FunTypeID == XoneHR.Models.FunctionTypes.AuthorizeLeave).Select(m => m.UserPermiStatus).SingleOrDefault())
                        {
                            <a href="#" class="BtnAuthorize" data-empappstatus="@item.EmpappStatus" data-name="@item.EmpLeaveappID" data-leavetype="@item.LeaveType" data-empid="@item.EmpID" data-empname="@item.CandName" data-leavetypeid="@item.LeavetypID" data-empdate="@item.EmpLeaveDate.ToString("dd/MM/yyyy")" data-daytype="@item.DayTypID"><i>Authorize...</i></a>
                        }

                    }
                </td>           

            </tr>
        }

    </tbody>
</table>