@{
    ViewBag.Title = "AllowancePayment_ShowDetails";
    var EmpSalaryType = (List<XoneHR.Models.TblFixecSalaryTypes>)ViewBag.EmpFixsalaType;
    var EmpAllowType = (List<XoneHR.Models.TblFixedAllowanceTypes>)ViewBag.EmpFixallType;
    var MainCnt = 0;var SubCnt = 0;
}

<script src="~/plugins/Toast/src/jquery.toast.js"></script>
<link href="~/plugins/Toast/src/jquery.toast.css" rel="stylesheet" />

<script type="text/javascript">

    $(document).ready(function () {

        $('input[type=checkbox]').click(function () {
            // children checkboxes depend on current checkbox
            $(this).next().find('input[type=checkbox]').prop('checked', this.checked);
            // go up the hierarchy - and check/uncheck depending on number of children checked/unchecked
            $(this).parents('ul').prev('input[type=checkbox]').prop('checked', function () {
                return $(this).next().find(':checked').length;
            });
        });

        $("#BtnEmpAssignment").click(function () {

            $.validator.addMethod("check_item_dropdown", function (value, element) {
                return this.optional(element) || value != 0;
            }, "Please select an item from the dropdown list.");

            $("#FrmAllowanceAssignment").validate({

                rules: {
                    Year: {
                        check_item_dropdown: true,
                        required: true
                    },
                    Month: {
                        check_item_dropdown: true,
                        required: true
                    }
                }
            })

            if ($("#FrmAllowanceAssignment").valid())
            {
                var parent = [];
                var child = [];
                var i = 0,j=0;
                $('input[name="FixSalaTypID"]:checked').each(function () {
                    parent.push($(this).val());
                    var item = $(this).val();
                });
                $('input[name="FixallTypes"]:checked').each(function () {
                    child.push($(this).attr('data-parent'));
                    child.push($(this).val());
                    if ($(this).closest('li').find("input[type=text]").val() == "") {
                        j = 1;
                    }
                    child.push($(this).closest('li').find("input[type=text]").val());
                    child.push($(this).attr('data-parentid'));
                    i++;
                });

                if (j == 0) {

                    $.ajax({
                        type: "POST",
                        url: "/Employee/AllowanceEmpAssignment",
                        data: {
                            ParentID: JSON.stringify(parent),
                            ChildId: JSON.stringify(child),
                            Year: $("#year").val(),
                            Month: $("#month").val(),
                            EmpId: $("#EmpId").val()
                        },

                    }).done(function (data) {
                        $.toast({
                            text: data.Message,
                            position: 'top-right',
                            hideAfter: 3000,
                            showHideTransition: 'slide',
                            loader: false,
                        })
                    });
                }
                else
                {
                    $.toast({
                        text: "Enter allowance amount",
                        position: 'top-right',
                        hideAfter: 3000,
                        showHideTransition: 'slide',
                        loader: false,
                    })
                }
            }
        });

        var year = $("#year");
        $('<option>', { value: 0, text: "Year" }).appendTo(year);
        for (i = 2015; i <= 2035; i++) {
            $('<option>', { value: i, text: i }).appendTo(year);
        }

        $("#year").val($("#Hidyear").val());
        $("#month").val($("#Hidmonth").val());

    });

</script>

<style>
    ul {
        list-style-type: none;
    }
</style>

<form class="" action="#" id="FrmAllowanceAssignment">
    <input type="hidden" id="EmpId" value="@ViewBag.EmpId" />
    <input type="hidden" id="Hidyear" value="@ViewBag.Year"/>
    <input type="hidden" id="Hidmonth" value="@ViewBag.month"/>
    <div class="form-group">
        <div class="form-group">
            <label class="col-sm-1 control-label">Year</label>
            <div class="col-sm-3">
                <select class="form-control required year" id="year" name="Year">
                    Year
                </select>
            </div>
            <label class="col-sm-1 control-label">Month</label>
            <div class="col-sm-3">
                <select class="form-control required month" id="month" name="Month">
                    <option value='0'>Month</option>
                    <option value='1'>Janaury</option>
                    <option value='2'>February</option>
                    <option value='3'>March</option>
                    <option value='4'>April</option>
                    <option value='5'>May</option>
                    <option value='6'>June</option>
                    <option value='7'>July</option>
                    <option value='8'>August</option>
                    <option value='9'>September</option>
                    <option value='10'>October</option>
                    <option value='11'>November</option>
                    <option value='12'>December</option>
                </select>
            </div>
            <div class="col-sm-3">
                <input type="button" value="Show Allownace Details" id="btnshow" class="form-control fil addnewAllw">
            </div>
        </div>
        <br />
        <div class="form-group">
            @foreach (var parent in ViewBag.FixSalaType)
            {
                <ul class="tree">
                    <li>
                        @{MainCnt = EmpSalaryType.Where(m => m.FixSalaTypID == parent.FixSalaTypID).Count(); }
                        @if (MainCnt > 0)
                        {
                            <input type="checkbox" checked="checked" name="FixSalaTypID" value="@parent.FixSalaTypID" />@parent.FixSalaType
                        }
                        else
                        {
                            <input type="checkbox" name="FixSalaTypID" value="@parent.FixSalaTypID" />@parent.FixSalaType
                        }
                       
                        <ul>
                            @foreach (var child in ViewBag.FixallType)
                            {
                               
                                if (parent.FixSalaTypID == child.FixSalaTypID)
                                {
                                    <li>
                                        @{
                                            var Item = EmpAllowType.Where(m => m.FixallEmpTypes == child.FixallTypes).FirstOrDefault();
                                            if (Item != null)
                                            {
                                                //var amnt = EmpAllowType.Where(m => m.FixallEmpTypes == child.FixallTypes).Select(m => m.FixallEmpTypes);
                                                <input type="checkbox" checked="checked" name="FixallTypes" value="@child.FixallTypeID" data-parent="@child.FixallTypes" data-parentid="@child.FixSalaTypID" />
                                                <label>@child.FixallTypes</label>
                                                <input type="text" id="@child.FixallAmounts" name="FixallAmounts" value="@Item.FixallEmpAmounts" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" name="FixallTypes" value="@child.FixallTypeID" data-parent="@child.FixallTypes" data-parentid="@child.FixSalaTypID" />
                                                <label>@child.FixallTypes</label>
                                                <input type="text" id="@child.FixallAmounts" name="FixallAmounts" />
                                            }
                                        }
                                        
                                                                                  
                                                                                                                                                            
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                </ul>
            }

        </div>
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-sm btn-success" id="BtnEmpAssignment">Save <span>&nbsp;</span> <i class="fa fa-floppy-o"></i></button>
    </div>
</form>



