@model IEnumerable<XoneHR.Models.LeaveDetails>
@{
    ViewBag.Title = "EmployeeLeaves";
    Layout = null;
    var TotalEligible=0;
    var TotalEarned = 0;
    var TotalTaken = 0;
    var TotalAvailable = 0;
}

@foreach (var item in Model)
{    
    <tr>
        @if (item.LeavetypID != 7)
        {
            <td>@item.LeaveType</td>
            <td>@item.EligibleLeaves</td>
            <td>@item.EarnedLeaves</td>
            <td>@item.LeavesTaken</td>
            <td>@item.LeavesText</td>
            TotalEligible = item.TotalEligible;
            TotalEarned = item.TotalEarned;
            TotalTaken = item.TotalTaken;
            TotalAvailable = item.TotalLeavesText;
        }
        else
        {
            <td>@item.LeaveType</td>
            <td>NA</td>
            <td>NA</td>
            <td>@item.LeavesTaken</td>
            <td>NA</td>
            TotalEligible = 0;
            TotalEarned = 0;
            TotalTaken = item.TotalTaken;
            TotalAvailable = 0;
        }
    </tr>
    
} 
<td>Total</td>
<td>@TotalEligible</td>
<td> @TotalEarned</td>
<td> @TotalTaken</td>
<td> @TotalAvailable</td>