@model XoneHR.Models.CompanyDetails
@{
    ViewBag.Title = "CompanyDetails";    
}


<script src="~/plugins/Toast/src/jquery.toast.js"></script>
<link href="~/plugins/Toast/src/jquery.toast.css" rel="stylesheet" />  
<script type="text/javascript">

    $(document).ready(function () {
       
        $("#BtnCompanyMaster").click(function () {
 
            $("#FrmCompanymaster").validate({
                                    
                rules: {
                    CompName: {
                        required: true, 
                    },
                    CompTest: { 
                        required: true,
                    },
                }
            });

            if ($("#FrmCompanymaster").valid()) {
             
                var file = "";
                var formData = new FormData();
                 
                var totalFiles = document.getElementById("newdoc").files.length;

                if (totalFiles > 0) {

                    for (var i = 0; i < totalFiles; i++) {
                        file = document.getElementById("newdoc").files[i];
                    }
                }    
                formData.append("FileUpload", file);
                formData.append("CompName", $("#CompName").val());
                formData.append("CompTest", $("#CompTest").val());

                $.ajax({

                    type: "POST",
                    url: "/Company/UpdateCompanyMaster",
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false
                }).done(function (data) {

                        $.toast({
                            text: data.Message,
                            position: 'top-right',
                            hideAfter: 3000,
                            showHideTransition: 'slide',
                            loader: false,
                        })                        
                    })
            }
        });

        $("#BtnCompanyEmails").click(function () {

            $("#FrmCompanyEmails").validate() 
            if ($('#FrmCompanyEmails').valid()) {                 
                $.ajax({
                    type: "POST",
                    url: "/Company/UpdateCompanyEmails",
                    data: $("#FrmCompanyEmails").serialize()
                }).done(function (data) {
                    $.toast({
                        text: data.Message,
                        position: 'top-right',
                        hideAfter: 3000,
                        showHideTransition: 'slide',
                        loader: false,
                    })

                    window.location.reload();
                })
            }
        })
    })

</script>

<section class="content-header">
    <h1>
        <i class="fa fa fa-user"></i>&nbsp;
        Company Profile
    </h1>
   
    <ol class="breadcrumb">
        <li><a href="/DashBoard/DashBoard"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
    </ol> 
</section>


<section class="newforms p-t-0">

    <div class="tabsnew">
        <!-- Nav tabs -->
        <div class="box box-primary">
            <div class="row p-t-20">
                <div class="col-sm-3">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle" src="@Model.ComMstr.CompLogo" alt="Company Logo">

                        <h3 class="profile-username text-center">@Model.ComMstr.CompName</h3>
                        <ul class="list-group list-tab">
                            <li role="presentation" class="list-group-item">
                                <a href="#profile" role="tab" data-toggle="tab" class="btn btn-primary btn-block">Company Details</a>
                            </li>
                            <li role="presentation" class="list-group-item">
                                <a href="#CompanyEmail" role="tab" data-toggle="tab">Company Emails </a>
                            </li>                            
                        </ul>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade" id="CompanyEmail">
                            <h3>Company Email</h3>
                            <hr class="divider" />
                            <form id="FrmCompanyEmails" novalidate>
                                <table class="table table-bordered table-hover" action="whatever">
                                    <thead>
                                        <tr>
                                            <th>Email ID</th>
                                            <th>Port Number</th>
                                            <th>Password</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ComEmail)
                                        {
                                            <tr>

                                                <td>
                                                    <input type="email" class="form-control required" value="@item.EmailID" id="@("EmailIDs" + item.CompEmailID)" name="@("EmailID"+item.CompEmailID)" autocomplete="off">
                                                    <input type="hidden" value="@item.CompEmailID" id="CompEmailID" name="CompEmailID">
                                                </td>

                                                <td>
                                                    <input type="number" class="form-control required" value="@item.CompPortNo" id="@("CompPortNos" + item.CompEmailID)" name="@("CompPortNo"+item.CompEmailID)" autocomplete="off">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control required" value="@item.CompPassword" id="@("CompPasswords" + item.CompEmailID)" name="@("CompPassword"+item.CompEmailID)" autocomplete="off">
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div class="text-right">
                                    <button type="button" class="btn btn-sm btn-success" id="BtnCompanyEmails">Save <span>&nbsp;</span><i class="fa fa-floppy-o"></i></button>
                                </div>
                            </form>
                         
                        </div>
                       
                        <div role="tabpanel" class="tab-pane active" id="profile">
                            <h4>Company Details</h4>
                            <hr class="divider" />
                            <div class="row">
                                <div class="col-md-6">
                                    <form id="FrmCompanymaster" enctype="multipart/form-data" novalidate>
                                        <div class="form-group">
                                            <label class="col-sm-4 padding-0 control-label">Name</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control required" value="@Model.ComMstr.CompName" id="CompName" name="CompName" placeholder="Name" autocomplete="off">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="" class="col-sm-4 padding-0 control-label">Text</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control required" value="@Model.ComMstr.CompTest" id="CompTest" name="CompTest" placeholder="Test" autocomplete="off">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 padding-0 control-label">Upload Photo</label>
                                            <div class="col-sm-8">
                                                <input type="file" id="newdoc" name="DocFiles[]">
                                            </div>
                                        </div>
                                    </form>
                                    <div class="text-left">
                                        <button type="button" class="btn btn-sm btn-success" id="BtnCompanyMaster">Save & Continue <span>&nbsp;</span><i class="fa fa-floppy-o"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        

                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- Tab panes -->
    </div>
</section>
