@model IEnumerable<XoneHR.Models.TblMemosUserList>
@{
    ViewBag.Title = "Index";
    Int32 i = 0;
}

<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables/dataTables.bootstrap.min.js"></script>

<script>
    $(function () {

        $('#example2').DataTable();
    });
</script>

<section class="content-header">
    <h3>
        Memo Seen Status
    </h3>
</section>

<table id="example2" class="table table-bordered table-hover masterlist">
    <thead>
        <tr>
            <th style="width:20px !important">Sl/No</th>
            <th>Name</th>
            <th>Memo Subject</th>
            <th class="width_th">Priority</th>
            <th>Send Date</th>
            @*<th>Status</th>*@
            <th>Read Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
{
    i++;
    var priority = ""; var MemoStatus = ""; var ReadDate = "";
    if (item.MemoPriority == 1)
    {
        priority = "High";
    }
    else if (item.MemoPriority == 2)
    {
        priority = "Medium";
    }
    else
    {
        priority = "Low";
    }

    if (item.ReadStatus == false)
    { MemoStatus = "Unread"; ReadDate = "-"; }
    else
    { MemoStatus = "Read"; ReadDate = item.ReadDate.ToString("dd-MM-yyyy"); }

    <tr>
        <td>@i</td>
        <td>@item.AppFirstName</td>
        <td>@item.MemoSubject</td>
        <td>@priority</td>
        <td>@item.MemoAddDate.ToString("dd-MM-yyyy")</td>
        @*<td>@MemoStatus</td>*@
        <td>@ReadDate</td>
    </tr>

    }
    </tbody>
</table>
