@model IEnumerable<XoneHR.Models.PLRDExpiryLists>
@{
    ViewBag.Title = "PLRDExpiryList";

}

<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables/dataTables.bootstrap.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $('#example2').DataTable();

    })

</script>

<style>
    #example2 tbody > tr > td:first-child {
        max-width: 300px !important;
    }
</style>

<section class="content-header">
    <h1>
        PLRD Expiry Details
    </h1>
</section>

<section class="newforms">
    <table id="example2" class="table table-bordered table-hover masterlist">
        <thead>
            <tr>
                <th>Name</th>
                <th>Mobile</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Expiry</th>
                <th>Days</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CandName</td>
                    <td>@item.CandMobile</td>
                    <td>@item.CandPhone</td>
                    <td>@item.CandEmail</td>
                    <td>@item.ExpiryDate.ToString("dd/MM/yyyy")</td>
                    <td>@item.RemainDays</td>
                </tr>
            }
        </tbody>
    </table>
</section>


