@{
    ViewBag.Title = "EmpCheckList";
    var i = 0;
}

<script type="text/javascript">
    $(document).ready(function () {
        $('input[type=checkbox]').click(function () {
            // children checkboxes depend on current checkbox
            $(this).next().find('input[type=checkbox]').prop('checked', this.checked);
            // go up the hierarchy - and check/uncheck depending on number of children checked/unchecked
            $(this).parents('ul').prev('input[type=checkbox]').prop('checked', function () {
                return $(this).next().find(':checked').length;
            });
        });

        var CheckListTypeID = [];

        $("#Btnchecklist").click(function () {

            if ($("#EmpStatus").val() == 0) {
                $('input[name="CheckListTypeID"]:checked').each(function () {
                    var x = $(this).attr('data-status');

                    var quantity = $("#name" + x).val();
                    var checkListid = $("#checkList" + x).val();

                    if (quantity == "") {

                        var flg = 1;
                    }

                    CheckListTypeID.push($(this).val(), checkListid, quantity);
                });

                    $.ajax({
                        type: "POST",
                        url: "/OFFBoarding/SaveChecklistDetails",
                        data: { EmpId: $("#EmpId").val(), CheckListTypeID: JSON.stringify(CheckListTypeID), flg: flg }
                    }).done(function (data) {
                        if (data.Result == -1) {
                            $.toast({
                                text: data.Message,
                                position: 'top-right',
                                hideAfter: 3000,
                                showHideTransition: 'slide',
                                loader: false,
                            })
                        }
                        else {
                            window.location.href = "/OFFBoarding/Index";
                        }
                    });
                    $("#cnfrmModal").modal("hide");

              
            }
            else {
                $("#cnfrmModal").modal("show");
            }
        });

        $("#Btnchecklist_cnfrm").click(function () {
            $('input[name="CheckListTypeID"]:checked').each(function () {
                CheckListTypeID.push($(this).val());
            });

            $.ajax({
                type: "POST",
                url: "/OFFBoarding/SaveChecklistDetails",
                data: { EmpId: $("#EmpId").val(), CheckListTypeID: JSON.stringify(CheckListTypeID) }
            }).done(function (data) {
                window.location.href = "/OFFBoarding/Index";
            });
        });

    });
</script>
<style>
    ul {
        list-style-type: none;
    }
</style>

<input type="hidden" id="EmpId" value="@ViewBag.EmpID" />
<input type="hidden" id="EmpStatus" />
<div class="modal-dialog" role="document" id="OFFBoardingRequest">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Relieving Process</h3>
        <h4 class="modal-title">
            <b>Employe</b> &nbsp;: &nbsp;<span>@ViewBag.EmpName</span> &nbsp;<span style="color:red" id="labelnoticeperiod"></span>
        </h4>
    </div>
    <div class="modal-content">
        <div class="modal-body">
            <form class="projectadding form-horizontal col-sm-12" id="OFFBoardingReqForm" novalidate="novalidate">
                <h4>Check Items</h4>
                <div class="form-group">
                    <table class="table table-bordered">

                        <thead>
                            <tr>
                                <th> </th>
                                <th>Details</th>

                                <th>Quantity</th>
                            </tr>
                        </thead>

                        <tbody id="Leavedetail">

                            @foreach (var iteam in ViewBag.list)
                            {
                                i = i + 1;
                                <tr>
                                    <td><input type="checkbox" name="CheckListTypeID" value="@iteam.CheckListTypeID" checked id=@("CheckListTypeID"+i) data-parentid="0" data-status="@i" /><input type="hidden" value="@iteam.CheckListID" id="@("checkList"+@i)" /></td>
                                    <td>@iteam.CheckListDetails</td>

                                    <td><input type="text" name="LeavesTaken" value="@iteam.Quantity" id="@("name"+@i)" required class="form-control  Quantity" autocomplete="off"></td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-sm btn-success" id="Btnchecklist">Relieve<span>&nbsp;</span> <i class="fa fa-floppy-o"></i></button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>

<div class="modal fade" id="cnfrmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="deleteconfirm">This Employee Is On Notice Period, Are You Sure For Relieve Employee?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="Btnchecklist_cnfrm">OK</button>
            </div>
        </div>
    </div>
</div>