@model IEnumerable <XoneHR.Models.EmployeeDetails>
    @{
        ViewBag.Title = "ListEmpDetails";
        Layout = null;
    }

    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">
       
    // 0: Request to offboarding, 1: Noticeperiod Start, 2:Releive, 3:Resigned
        $(document).ready(function () {         
            $('#example2').DataTable();

            $('.ApproveOffboard').on("click", function () {                            
              
                $.ajax({
                    url: "/OFFBoarding/OFFBoardingRequest",
                    data: { EmpId: $(this).attr('data-EmpId') }
                }).done(function (data) {
                    $("#OffBoardModal").html(data);
                });
                $("#OffBoardModal").modal("show");
               
            });

            $('.ReInstate').on("click", function () {
                $.ajax({
                    url: "/OFFBoarding/ReInstateEmployee",
                    data: { EmpId: $(this).attr('data-EmpId') }
                }).done(function () {
                    window.location.href = "/OFFBoarding/Index";
                });
            });
            
            $('.Releive').on("click", function () {
                
                $.ajax({
                    url: "/OFFBoarding/EmpCheckList",
                    data: { EmpId: $(this).attr('data-EmpId') },
                    async:false
                }).done(function (data) {
                    $("#ReleiveChecklists").html(data);
                    //window.location.href = "/OFFBoarding/Index";
                });                
                $("#ReleiveChecklists").modal("show");
                if ($(this).attr("data-status") == 1)
                {
                    $("#labelnoticeperiod").html("(This employee is on notice period)");
                    $("#EmpStatus").val(1);
                }                    
                else
                {
                    $("#labelnoticeperiod").html("");
                    $("#EmpStatus").val(0);
                }                    
            });

        });
    </script>

    <section class="newforms">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th width="12% !important">Emp Id</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Designation</th> 
                    <th>Status</th>                     
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="ListEmployeeresult">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.EmpRegNo</td>
                        <td>@item.CandName</td>
                        <td>@item.EmpTypName</td>
                        <td>@item.DesigName</td>
                        @if (item.OFFBoard_Status == 0)
                        {
                            <td><a href="#" class="text-green bio">Offboard Requested</a></td>
                            <td><a href="#" data-EmpId='@item.EmpID' class="text-green bio ApproveOffboard"><b>&nbsp;&nbsp;<span class="label label-success">Approve</span></b></a></td>
                        }
                        else if (item.OFFBoard_Status == 1)
                        {
                            <td><a href="#" class="text-green bio" title="Start:@item.OFFBoard_NoticeStart.ToString("dd/MM/yyyy") &nbsp;&nbsp;End:@item.OFFBoard_NoticeEnd.ToString("dd/MM/yyyy")">On Notice period</a></td>
                            <td>
                                <a href="#" data-EmpId='@item.EmpID' class="text-green bio ReInstate"><b>&nbsp;&nbsp;<span class="label label-success">Re Instate</span></b></a>&nbsp;&nbsp;
                                <a href="#" data-EmpId='@item.EmpID' data-status="@item.OFFBoard_Status" class="text-green bio Releive"><b>&nbsp;&nbsp;<span class="label label-success">Relieve</span></b></a>
                            </td>
                        }
                        else if(item.OFFBoard_Status == 2)
                        {
                            <td><a href="#" class="text-green bio">Update Checklist</a></td>
                            <td>
                                <a href="#" data-EmpId='@item.EmpID' class="text-green bio ReInstate"><b>&nbsp;&nbsp;<span class="label label-success">Re Instate</span></b></a>&nbsp;&nbsp;
                                <a href="#" data-EmpId='@item.EmpID' data-status="@item.OFFBoard_Status" class="text-green bio Releive"><b>&nbsp;&nbsp;<span class="label label-success">Relieve</span></b></a>
                            </td>
                        }
                        else
                        {
                            <td><a href="#" class="text-green bio">Resigned</a></td><td></td>
                        }
                    </tr>
                }                
            </tbody>
        </table>

        <div class="modal fade" id="ReleiveChecklists" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        </div>
    </section>
