@model XoneHR.Models.DesignationAssignment
@{
    ViewBag.Title = "DesignationAssignment";
    Layout = null;
    var Mainchild = Model.FixedAllowanceMaster;
    //var temp = 0;
}
 

<script type="text/javascript">

    $(document).ready(function () {
               

        $('input[type=checkbox]').click(function () {
            // children checkboxes depend on current checkbox
            $(this).next().find('input[type=checkbox]').prop('checked', this.checked);
            // go up the hierarchy - and check/uncheck depending on number of children checked/unchecked
            $(this).parents('ul').prev('input[type=checkbox]').prop('checked', function () {
                return $(this).next().find(':checked').length;
            });
        });

        $("#BtnPrev").click(function () {

            $('.nav-tabs > .active').prev('li').find('a').trigger('click');
        })

        $("#BtnDesigAssignment").click(function () {

            $("#FrmDesigAssignment").validate({

                rules: {
                    FixallowmAmounts: {
                        required: true,
                        number: true
                    },
                    LeavesMastNo: {
                        required: true,
                        number: true
                    }
                }
            })
            if ($("#FrmDesigAssignment").valid()) {
              
                var parent = [];
                var child = [];
                var leave = [];
                var i = 0;
                $('input[name="FixSalaTypID"]:checked').each(function () {
                    parent.push($(this).val());
                    var item = $(this).val();
                });
                $('input[name="FixallowmID"]:checked').each(function () {
                    child.push($(this).attr('data-parent'));
                    child.push($(this).val());
                    child.push($(this).closest('li').find("input[type=text]").val());
                    i++;
                });
                $('.LeavesMastNo').each(function () {
                    leave.push($(this).attr('data-typeid'));
                    leave.push($(this).val());
                    i++;
                });

                    $.ajax({
                        type: "POST",
                        url: "/EmployeeDesignation/ManageDesignationAssignment",
                        data: {
                            ParentID: JSON.stringify(parent),
                            ChildId: JSON.stringify(child),
                            DepID: $("#DepID").val(),
                            DesigName: $("#DesigName").val(),
                            DesigID : $("#HidDesigID").val(),
                            SalaMasterPayDate: $("#SalaMasterPayDate").val(),
                            Salamasterperiod: $("#Salamasterperiod").val(),
                            Leave: JSON.stringify(leave)

                        },
                    }).done(function (data) {
                        $.toast({
                            text: data.Message,
                            position: 'top-right',
                            hideAfter: 3000,
                            showHideTransition: 'slide',
                            loader: false,
                        })
                        if (data.Result == 1) {
                            window.location.href = "/EmployeeDesignation/Index";
                        }
                    })
                
            }
        })
    })

</script>
<form class="" action="#" id="FrmDesigAssignment">
    @*<input type="hidden" id="HidDesigID" name="DesigID" value="@ViewBag.DesigID" />*@
    <div class="row">
        <div class="col-md-6">
            <h4>Fixed Allowance </h4>
            <hr />
            <div class="form-group">
                @foreach (var parent in Model.FixedSalaryType)
                {
                    <ul class="tree">
                        <li>
                            @if(parent.FixSalaStatus == true)
                            { 
                                <input type="checkbox" name="FixSalaTypID" checked="checked" value="@parent.FixSalaTypID" />                               
                            }
                            else
                            {
                                <input type="checkbox" name="FixSalaTypID" value="@parent.FixSalaTypID" />                                
                            }
                            @parent.FixSalaType
                            @{ var subchid = Mainchild.Where(p => p.FixSalaTypID == parent.FixSalaTypID).ToList();}
                            <ul>
                                @foreach (var child in subchid)
                                {
                                    <li>
                                        @if(child.FixallowmStatus == true)
                                        { 
                                            <input type="checkbox" name="FixallowmID" checked="checked" value="@child.FixallowmID" data-parent="@child.FixSalaTypID" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="FixallowmID" value="@child.FixallowmID" data-parent="@child.FixSalaTypID" />
                                        }
                                        <label>@child.FixallowmTypes</label>
                                        <input type="text" id="@child.FixallowmID" name="FixallowmAmounts" class="required" value="@child.FixallowmAmounts" />
                                        
                                         
                                    </li>
                                }
                            </ul>
                            
                        </li>
                    </ul>
                }

            </div>
        </div>

        <div class="col-md-6">

            <h4>Salary</h4>
            <hr />
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">Salary Pay Date</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control required" id="SalaMasterPayDate" name="SalaMasterPayDate" value="@Model.SalaryMastrWise.SalaMasterPayDate">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">Salary Period</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control required" id="Salamasterperiod" name="Salamasterperiod" value="@Model.SalaryMastrWise.Salamasterperiod">
                </div>
            </div>

            <h4>Leave</h4>
            <hr />
            @foreach (var a in Model.LeaveMasterwise)
            {
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">@a.LeaveType</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control LeavesMastNo required" id="@a.LeavetypID" name="@("LeavesMastNo"+a.LeavetypID)" data-typeid="@a.LeavetypID" value="@a.LeavesMastNo">
                    </div>
                </div>
            }


        </div>
    </div>
    <div class="text-left">
        <button type="button" class="btn btn-sm btn-success" id="BtnDesigAssignment">Save <span>&nbsp;</span> <i class="fa fa-floppy-o"></i></button>
        <button type="button" class="btn btn-sm btn-success" id="BtnPrev">Previous <span>&nbsp;</span> <i class="fa fa-arrow-circle-left"></i></button>
    </div>
</form>
