@model IEnumerable<XoneHR.Models.DesignationList>
@{
    ViewBag.Title = "List";
    Layout = null;
    string status = "";
    var i = 0;
    var Functionlist = XoneHR.Models.SessionManage.Current.PermitFunctions;
}

<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables/dataTables.bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#example2").DataTable();
    });
</script>


<table id="example2" class="table table-bordered table-hover masterlist">
    <thead>
        <tr>
            <th>Sl No.</th>
            <th>Designation</th>
            <th>Department</th>            
            @*<th data-sortable="false">Status</th>*@ 
            <th >Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td>@i</td>
                <td>@item.DesigName</td>
                <td>@item.DepName</td>                
                @*@if (item.DesigStatus.ToString() == "True")
                {
                    status = "Active";
                }
                else
                {
                    status = "InActive";
                }
                <td>@status</td>*@   
                <td>
                    @if (Functionlist.Where(m => m.FunTypeID == XoneHR.Models.FunctionTypes.Permission).Select(m => m.UserPermiStatus).SingleOrDefault())
                    {
                        <a href="/EmployeeDesignation/DesignationPermission?ID=@item.DesigID&Type=1" class="btn btn-warning"><i class="fa fa-gears"></i></a>
                    }
                    @if (Functionlist.Where(m => m.FunTypeID == XoneHR.Models.FunctionTypes.Edit).Select(m => m.UserPermiStatus).SingleOrDefault())
                    {
                        <a href="/EmployeeDesignation/Edit?ID=@item.DesigID&Type=1" class="btn btn-success"><i class="fa fa-fw fa-edit"></i></a>
                    }
                    @if (Functionlist.Where(m => m.FunTypeID == XoneHR.Models.FunctionTypes.Delete).Select(m => m.UserPermiStatus).SingleOrDefault())
                    {
                        <a href="#a" class="btn btn-danger btndelete" data-toggle="modal" data-id="@item.DesigID" data-name="@item.DesigName"><i class="fa fa-fw fa-trash-o"></i></a>
                    }
                </td>              
            </tr>
        }
    </tbody>
</table>
